

  @{ //Pull the users who are avaiable to chat from from the viewbag
      var OnlineChatUsers = ViewBag.OnlineChatUsers as List<ChatUser>; 
     
   } 


   <div>
   There are a total of @OnlineChatUsers.Count users online
   </div>

		  @foreach (var item in OnlineChatUsers)
          { 
                                      
								  
                                                 <div class ="onlinenowInnerInterestsdiv">   
                                                                              
                         @item.Name             <a class="chatquickprofile" href="javascript:void(0)"  Id="InviteToChat" data-name=@item.Name ></a>  </div> 
                                   
          

          } 