<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel">
      <section name="domainServices" type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" allowDefinition="MachineToApplication" requirePermission="false" />
      <!-- required to read the <dataCacheClient> element added 9/28/2011 -->
    </sectionGroup>
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <!-- cache host(s) -->
  <dataCacheClient requestTimeout="15000" channelOpenTimeout="3000" maxConnectionsToServer="1">
    <localCache isEnabled="true" sync="TimeoutBased" ttlValue="300" objectCount="10000" />
    <clientNotification pollInterval="300" maxQueueLength="10000" />
    <!-- cache host(s) -->
    <hosts>
      <host name="NmediaApps01.Nmedia.com" cachePort="22233" />
    </hosts>
    <securityProperties mode="None" protectionLevel="None" />
    <transportProperties connectionBufferSize="131072" maxBufferPoolSize="2684354562" maxBufferSize="90000000" maxOutputDelay="2" channelInitializationTimeout="60000" receiveTimeout="900000" />
  </dataCacheClient>
  <connectionStrings>
    <!-- home Dev -->
    <!--
     <add name="PostalData2Context" connectionString="Data Source=192.168.0.112;Initial Catalog=PostalData2;Persist Security Info=True;User ID=anewluvPassword=kayode02;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
     <add name="ApiKeyContext"   providerName="System.Data.SqlClient"  connectionString="Data Source=192.168.0.112;Initial Catalog=ApiKey;User ID= anewluv; password=kayode02;"/>

    -->
    <!--Home Prod-->
    <!--
    <add name="PostalData2Entities" connectionString="metadata=res://*/Models.PostalDataModel.csdl|res://*/Models.PostalDataModel.ssdl|res://*/Models.PostalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.112;initial catalog=PostalData2;user id=sa;password=nimda2004tn!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />   
    <add name="ApiKeyContext"   providerName="System.Data.SqlClient"   connectionString="Data Source=192.168.0.112;Initial Catalog=ApiKey;User ID= anewluv; password=nimda2004tn!;"/>

    -->
    <add name="PostalData2Context" connectionString="Data Source=192.168.0.112;Initial Catalog=PostalData2;Persist Security Info=True;User ID=anewluv;Password=kayode02;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ApikeyContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.112;Initial Catalog=Apikey;User ID= anewluv; password=kayode02;" />
    <add name="LoggingContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.112;Initial Catalog=Logging;User ID= anewluv; password=kayode02;" />
    <add name="NotificationContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.112;Initial Catalog=Notification;User ID= anewluv; password=kayode02;" />
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <!-- the geoservice is in the dating service DLL but has its own IIS host-->
      <service name="Anewluv.Services.Spatial.GeoService" behaviorConfiguration="AnewluvApiKeyBehavior">
        <endpoint address="Soap" binding="basicHttpBinding" contract="Anewluv.Services.Contracts.IGeoService" name="soap" />
        <endpoint address="Rest" binding="webHttpBinding" bindingConfiguration="higherMessageSize" behaviorConfiguration="web" contract="Anewluv.Services.Contracts.IGeoService" name="rest" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="genericbehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="20485760" />
        </behavior>
        <behavior name="ApiKeyBehavior">
          <!-- This behavior enables API Key Verification -->
          <serviceAuthorization serviceAuthorizationManagerType="Anewluv.Api.ApiKeyAuthorization,Anewluv.Api" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentInstances="200" maxConcurrentSessions="200" />
        </behavior>
        <behavior name="AnewluvApiKeyBehavior">
          <!-- This behavior enables API Key Verification -->
          <serviceAuthorization serviceAuthorizationManagerType="Anewluv.Api.ApiKeyAuthorization,Anewluv.Api" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentInstances="200" maxConcurrentSessions="200" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" faultExceptionEnabled="true" defaultOutgoingResponseFormat="Json" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="HelpBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" defaultBodyStyle="Bare" faultExceptionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="soapbasicHttpBinding" closeTimeout="10:50:00" openTimeout="10:50:00" receiveTimeout="10:50:00" sendTimeout="10:50:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <!-- configure the maxReceivedMessageSize  value to suit the max size of
          the request ( in bytes ) you want the service to recieve-->
        <binding name="higherMessageSize" maxBufferSize="2147483647" closeTimeout="10:50:00" openTimeout="10:50:00" receiveTimeout="10:50:00" sendTimeout="10:50:00" allowCookies="false" transferMode="Streamed" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="regularMessageSize" closeTimeout="10:50:00" openTimeout="10:50:00" receiveTimeout="10:50:00" sendTimeout="10:50:00" allowCookies="false" transferMode="Streamed" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </webHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ImageResizerServiceContract" closeTimeout="01:01:00" openTimeout="01:10:00" receiveTimeout="01:10:00" sendTimeout="01:01:00" transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="01:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <client>
      <endpoint address="http://localhost/Nmedia.Infrastructure.Web.Services.Notification/NotificationService.svc/Rest" behaviorConfiguration="HelpBehavior" binding="webHttpBinding" bindingConfiguration="regularMessageSize" contract="Nmedia.Services.Contracts.INotificationService" name="webHttpBinding_NotificationService" />
      <endpoint address="http://localhost/Nmedia.Infrastructure.Web.Services.Logging/LoggingService.svc/Rest" behaviorConfiguration="HelpBehavior" binding="webHttpBinding" bindingConfiguration="regularMessageSize" contract="Nmedia.Services.Contracts.ILoggingService" name="webHttpBinding_ILoggingService" />
      <endpoint address="http://localhost/Nmedia.Infrastructure.Web.Services.Authorization/ApiKeyService.svc/rest" binding="webHttpBinding" bindingConfiguration="higherMessageSize" contract="Nmedia.Services.Contracts.IApiKeyService" name="webHttpBinding_IApiKeyService" />
      <endpoint address="http://localhost/Anewluv.Web.Services.AuthenticationService/Authenticationservice.svc/rest" binding="webHttpBinding" bindingConfiguration="regularMessageSize" contract="Anewluv.Services.Contracts.IAuthenticationService" name="webHttpBinding_IAuthenticationService" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,apikey,x-requested-with,Accept" />
        <add name="Cache-Control" value=" no-cache" />
        <add name="Access-Control-Max-Age" value="1728000" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <remove value="AccountService.asmx" />
        <add value="GeoService.svc" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AForge.Imaging" publicKeyToken="ba8ddea9676ca48b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AForge" publicKeyToken="c1db6ff4eaa06aeb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>