

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomErrorMessage generated a @Model. </title>
</head>
<body>
ErrorMessage: @Model.Message
</body>
</html>
<html>
<head>
