@model Shell.MVC2.Domain.Entities.Anewluv.ViewModels.Email.EmailModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>An error from AnewLuv.com</title> 
</head>
<body>
<div>
Subject : @Model.subject
</div>
Message detail : 
<div></div>
<div></div>
 @Model.body
</body>
</html>


