@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#bodyLandingDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #f5f6f7;
	width: 1024px;
	padding-top: 0px;
	height: 702px;
	background-image: url(images/girlOnGrassBox1.png);
	background-repeat: no-repeat;
	background-position: center;
}
html > body #bodyLandingDiv {
	height: auto;
	min-height: 703px;
}
#LinkMemberSignInLanding:link, #LinkMemberSignInLanding:visited {
	margin-right: 61px;
	margin-top: 57px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #fff;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-decoration: none;
}
#LinkMemberSignInLanding:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#LinkMemberSignInLanding:hover, #LinkMemberSignInLanding:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#LinkMemberSignInLanding:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#LinkJoinNowLanding:link, #LinkJoinNowLanding:visited {
	margin-right: 85px;
	margin-top: 57px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #fff;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-decoration: none;
}
#LinkJoinNowLanding:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#LinkJoinNowLanding:hover, #LinkJoinNowLanding:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#LinkJoinNowLanding:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#ComboBox_win_gender2Landing {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 78px;
	margin-top: 101px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
	width: 80px;
}
.Seeking_aLanding {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 19px;
	margin-top: 102px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#ComboBox_win_Gender1Landing {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 13px;
	margin-top: 100px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
	width: 80px;
}
.I’m_aLanding {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 11px;
	margin-top: 103px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#TextField_win_Age2Landing {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 66px;
	margin-top: 8px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
	width: 70px;
}
.andLanding {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 16px;
	margin-top: 11px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#TextField_win_Age1Landing {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 7px;
	margin-top: 7px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
	width: 70px;
}
.Between_the_age_ofLanding {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 12px;
	margin-top: 9px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#TextField_win_MyCityBoxLanding {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 55px;
	margin-top: 4px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
	width: 100px;
}
.My_CityLanding {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 6px;
	margin-top: 6px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#ComboBox_win_MyCountryLanding {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 4px;
	margin-top: 5px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
	width: 100px;
}
.My_CountryLanding {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 7px;
	margin-top: 6px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#buttonLandingDiv {
	margin-left: 768px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 10px;
	border: 1px solid #000;
	width: 86px;
	padding-top: 0px;
	height: 19px;
}
html > body #buttonLandingDiv {
	height: auto;
	min-height: 18px;
}
#freeToJoinLandingDiv {
	margin-left: 650px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 0px none #000;
	width: 312px;
	padding-top: 0px;
	height: 111px;
}
html > body #freeToJoinLandingDiv {
	height: auto;
	min-height: 110px;
}
#button2LandingDiv {
	margin-left: 816px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 0px none #000;
	width: 165px;
	padding-top: 0px;
	height: 57px;
}
html > body #button2LandingDiv {
	height: auto;
	min-height: 56px;
}
#findSomebodyDiv {
	margin-left: 374px;
	margin-top: 115px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 0px none #000;
	width: 407px;
	padding-top: 0px;
	height: 44px;
}
html > body #findSomebodyDiv {
	height: auto;
	min-height: 43px;
}
#iconLandingDiv {
	margin-right: 266px;
	margin-top: 0px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 0px none #000;
	width: 103px;
	padding-top: 0px;
	height: 29px;
}
html > body #iconLandingDiv {
	height: auto;
	min-height: 28px;
}
#LinkContactUsLanding:link, #LinkContactUsLanding:visited {
	margin-right: 26px;
	margin-top: 9px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #fff;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-decoration: none;
}
#LinkContactUsLanding:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#LinkContactUsLanding:hover, #LinkContactUsLanding:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#LinkContactUsLanding:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#LinkAboutUsLanding:link, #LinkAboutUsLanding:visited {
	margin-right: 16px;
	margin-top: 9px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #fff;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-decoration: none;
}
#LinkAboutUsLanding:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#LinkAboutUsLanding:hover, #LinkAboutUsLanding:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#LinkAboutUsLanding:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
