@model dynamic

<!DOCTYPE html>

<html>

<body>
    <div>
        
        Photos<br />
        <br />
        <br />

        <a href="/AdminTest/AdminPhotos?approve=No"> Unapproved </a>|&nbsp; <a href="/AdminTest/AdminPhotos?approve=Yes">Approved </a></div>
</body>
</html>

