@model IPageable<Shell.MVC2.Models.Hobby>

<!DOCTYPE html>

<html>


<body>
    <div>
      <h2>Admin</h2>

<h3>View Photo</h3>
<a href="/Admin/AdminPhotos?approve=No"> Unapproved </a>|&nbsp; <a href="/Admin/AdminPhotos?approve=Yes">Approved </a></div>
@{foreach (var hobby in Model.Page)
{
  
  @hobby.Name<br />
  
} }
@Html.Pagination()      
    </div>
</body>
</html>

