@model Shell.MVC2.Models.MemberSearchViewModel 

   @*   @Html.HiddenFor(model => model.PhotoID)
      @Html.HiddenFor(model => model.Aproved)
      @Html.HiddenFor(model => model.ScreenName)*@

<div class="qProfilEquikDetailsProfileBoxDiv">


         <img  src="@Url.Action("GetGalleryImageByScreenName", "Images", new { id = Model.profile.ScreenName  }, null)" alt="" width ="192" height ="193" />
   
            </div>