
@{
    ViewBag.Title = "About Us"; 
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }

    <h2>About</h2>
    <p>
        Put content here.
    </p>


