@model dynamic

 


@{
    ViewBag.Title = "AboutUs"; 
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }



	<div class="clearFloat"></div>
	<div id="leftDivAboutUs">
	</div>
	<div id="bodyDivAboutUs">
		<div id="Box3SliceContainerAboutUs">
			<div id="Box3SliceContainer_top_1AboutUs">
			</div>
			<div class="Txt_AboutAboutUs">
				
					<p class="lastNode"><img src="../../Content/Images/aboutAnewluv.com.png" width="284" height="26" alt="About anewluv.com" />
			    </p>
	    </div>
			<div class="clearFloat"></div>
			<div class="Txt_LoremAboutUs">
				
					<p class="lastNode">

                    Welcome to AnewLUV.com, the premier website for meeting singles from all over the world.  This site is very different from the usual run-of-the-mill dating website.
                     How you ask?  Well for one we provide a safe, friendly and well designed user experience for our members.  We will not send you endless emails, updates or anything else absurd. 
                      What we want is for all of our members to be able to log on at any time to check and/or update their profile status as well as email and chat (coming soon) with other members. 
                       We built our website from the ground up using exciting new multimedia technologies that will soon allow our members to voice and video chat with their matches located all over the world!     
			  </p>
              <br />  <br />
              	<p class="lastNode"> 
              Another Significant difference between ANEWluv.com and other dating websites is that we actually track geographical data for over 150 countries. 
              You might be wondering how that pertains to you.  Well as a member of ANewluv.com you will be able to sign-in and enter your city/state/province which will 
              get you matched with 100% accuracy to all of the members within your search parameters.  Yes they will be located near your SPECIFIC location.  
              That means without even entering information such as postal codes our Euro members can get matches that are not limited to their specific city or country,
               but regional matches as well.  We are also adding new countries every month as we gather data so if a specific country is not available as of yet please
                use the CONTACT US link on the home page to communicate that information to our development team.            

				</p>	<p class="lastNode">
                
               Our ultimate goal is to be a one stop shop for all your dating and personal communication needs.  Please create your FREE profile today and see what we can offer you…you will not be disappointed.                                                                        


				</p>
                <br />
               <b> VP of Communications and Multimedia<br /> AnewLuv Management</b>
			</div>
			<div class="clearFloat"></div>
		<div id="Box3SliceContainer_bottom_1AboutUs">
		</div>
		</div>
		<div class="clearFloat"></div>
		<div id="bottomContainerDivAboutUs">
		</div>
		<div class="clearFloat"></div>
	</div>
	<div id="rightDivAboutUs">
	</div>
	<div class="clearFloat"></div>



