@{
    ViewBag.Title = "CommunityConnections";
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

<div id="main">
	<div id="headerLinkDirectoryDiv">
	</div>
	<div class="clearFloat"></div>
	<div id="header2LinkDirectoryDiv">
		<div class="leftLinkDirectoryText">
			
				<p class="lastNode">Our Community of Connections
			</p>
		</div>
		<div class="clearFloat"></div>
	</div>
	<div class="clearFloat"></div>
	<div id="leftLinkDirectoryDiv">
	</div>
	<div id="BodyLinkDirectoryDiv">
		<div id="roundTopLinkDirectoryDiv">
			<div class="Txt_Single">
				
					<p class="lastNode">Single Sites Linking Across the World
				</p>
			</div>
			<div class="clearFloat"></div>
		</div>
		<div class="clearFloat"></div>
		<div id="roundBotttomLinkDirectoryDiv">
			<div class="inLinkDirectoryDiv">
				<div class="Txt_MillionaerTreff">
					
					<p class="lastNode"> <a href="http://www.millionaertreff.de" title="MillionaerTreff.de" target="_blank">MillionaerTreff.de</a> - </p>
				</div>
				<div class="Txt_Die">
					
						<p class="lastNode">Die weltweit besten und gr??ten Online-Million?r Match Ort für Million?re, Bewunderer und Freunde.</p><p class="titlelink"> www.millionaertreff.de
					</p>
				</div>
				<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
			<div class="inLinkDirectoryDiv">
			</div>
			<div class="clearFloat"></div>
		</div>
		<div class="clearFloat"></div>
	</div>
	<div id="rightLinkDirectoryDiv">
	</div>
	<div class="clearFloat"></div>
	<div id="footerLinkDirectoryDiv">
	</div>
	<div class="clearFloat"></div>
</div>
