@{
    Layout = "~/Views/Shared/_LayoutMembers.cshtml";
}


<div id="main">
	<div id="GalleryLeftDiv">
	</div>
	<div id="Gallerycolwrap">
		<div id="GalleryheaderDiv">
		</div>
		<div id="GallerybodyDiv">
			<div id="GallerypostBoardDiv">
            <div class="searchResults">
            <i>You are viewing page
            @Model.PageIndex
            of
            @Model.PageCount... </i>
     
            </div>
            <div class="pageCount">
             @if (Model.PageCount > 1)
         {           @Html.Pagination()
         }
            </div>
            </div>
             @{ int CurrentPage;
           if (Model.PageIndex <= Model.PageCount) { CurrentPage = 0; } else { CurrentPage = 1; } }

        @{foreach (var item in Model.Page)
           { 
     
			
            <div>>@{ CurrentPage++; }
           
			<div id="GallerypicDivOuter">
				<div class="GallerypicDivInner">
				</div>
			
			  <div id="GallerynameDiv">
					<div class="Gallerytext">
						
							<p class="lastNode">Name
						</p>
					</div>
					
				</div>
				
			  <div id="GalleryageCityDiv">
					<div class="Gallerytxt">
						
							<p class="lastNode">00-
						</p>
					</div>
					<div class="Gallerytext2">
						
							<p class="lastNode">My City
						</p>
					</div>
					
				</div>
				
				<div id="GalleryactiveWhenDiv">
				  <div class="Gallerytext3">
						
							<p class="lastNode">Active within such
						</p>
					</div>
				  <div class="galleryChatIcon">
					</div>
					
				</div>
				
		  </div>
			 </div>
           } }     
	  </div>
		<div id="GalleryfooterDiv">
             @if (Model.PageCount > 1)
         { 
          @Html.Pagination()
         }
		</div>
	</div>
	<div id="GalleryrightDiv">
	</div>
	
</div>