<?xml version="1.0"?>
<configuration>

  <connectionStrings>

    <!-- work-->
    <!--
    <add name="AnewluvContext"   providerName="System.Data.SqlClient"  connectionString="Server=MTXD112937;Database=AnewluvTest;User ID=sa;password=kayode02;Connect Timeout=120;"/>
    <add name="ApiKeyContext"   providerName="System.Data.SqlClient"  connectionString="Server=MTXD112937;Database=ApiKey;User ID=sa;password=kayode02;"/>
  -->
    <!-- home Dev -->
    <!--
    <add name="AnewluvContext"   providerName="System.Data.SqlClient"  connectionString="Server=NMEDIASQL02;Database=AnewluvTest;User ID=sa;password=kayode02;Connect Timeout=120;"/>
    <add name="ApiKeyContext"   providerName="System.Data.SqlClient"  connectionString="Server=NMEDIASQL02;Database=ApiKey;User ID=sa;password=kayode02;"/>

    -->
    <!--Home Prod-->
    <!--
    <add name="AnewluvContext"   providerName="System.Data.SqlClient"  connectionString="Server=192.168.0.112;Database=AnewluvTest;User ID=sa;password=nimda2004tn!;Connect Timeout=120;"/> 
    <add name="ApiKeyContext"   providerName="System.Data.SqlClient"   connectionString="Server=192.168.0.112;Database=ApiKey;User ID=sa;password=nimda2004tn!;"/>

    -->

    <add name="AnewluvContext"   providerName="System.Data.SqlClient"  connectionString="Server=MTXD112937;Database=AnewluvTest;User ID=sa;password=kayode02;Connect Timeout=120;"/>
    <add name="ApiKeyContext"   providerName="System.Data.SqlClient"  connectionString="Server=MTXD112937;Database=ApiKey;User ID=sa;password=kayode02;"/>

  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      
      <service name="Shell.MVC2.Services.Dating.MemberActionsService">
        <endpoint address="Soap"
                  binding="basicHttpBinding"
                  contract="Shell.MVC2.Services.Contracts.IMemberActionsService"
                  name="soap"/>
        <endpoint address="Rest"
                  binding="webHttpBinding"
                  behaviorConfiguration="web"
                  contract="Shell.MVC2.Services.Contracts.IMemberActionsService"
                  name="rest"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true"
                   helpEnabled="true"
                   faultExceptionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
