<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="AnewLuvFTSEntities" connectionString="metadata=res://*/Models.DatingModel.csdl|res://*/Models.DatingModel.ssdl|res://*/Models.DatingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NMEDIASQL02;user id=sa;password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      
      <service name="Shell.MVC2.Services.Dating.MemberActionsService">
        <endpoint address="Soap"
                  binding="basicHttpBinding"
                  contract="Shell.MVC2.Services.Contracts.IMemberActionsService"
                  name="soap"/>
        <endpoint address="Rest"
                  binding="webHttpBinding"
                  behaviorConfiguration="web"
                  contract="Shell.MVC2.Services.Contracts.IMemberActionsService"
                  name="rest"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true"
                   helpEnabled="true"
                   faultExceptionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
