@model Shell.MVC2.Models.ActivateProfileContainerViewModel

@{
    ViewBag.Title = "Activate profile Complete"; 
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }
   



<div id="main">
	
	<div class="clearFloat"></div>
	<div id="header2Div">
	</div>
	<div class="clearFloat"></div>
	<div id="leftDiv">
	</div>
	<div id="BodyDiv">
		<div id="Box3SliceContainerActivate">
			<div id="Box3SliceContainerActivate_top_1">
			</div>
			<div class="Txt_Once">
				

					<p class="lastNode">
                     @ViewData["ActivateProfileStatus"]                     
                   
				</p>
			</div>
			<div class="clearFloat"></div>
			 @Html.ValidationSummary(true)
     @Html.Partial("ActivateProfileDetail", Model) 

     @if(Model.ActivateProfileModel.PhotoStatus == false  ){       
            @Html.Partial("UploadPhoto", Model)  
 }  
			<div class="clearFloat"></div>
		<div id="Box3SliceContainerActivate_bottom_1">
		</div>
		</div>
		<div class="clearFloat"></div>
	</div>
	<div id="rightyDiv">
	</div>
	<div class="clearFloat"></div>
	
	
</div>


  

     


