@model Shell.MVC2.Models.PhotoEditModel

@{
    ViewBag.Title = "RegisterSuccess"; 
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }
   


                                                                                                                                                                                                                               
<!-- Google Code for created account Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1063425827;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "evO_CNvduwEQo66K-wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" 
alt="" src="http://www.googleadservices.com/pagead/conversion/1063425827/?label=evO_CNvduwEQo66K-wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Google Code for created account Conversion Page Kellys Google accoun -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 963657067;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "giQqCK3fpgMQ6_rAywM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/963657067/?label=giQqCK3fpgMQ6_rAywM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- conversion stuff for MSSF add center -->
<script type="text/javascript">
    if (!window.mstag) mstag = { loadTag: function () { }, time: (new Date()).getTime() };
</script>
 <script id="mstag_tops" type="text/javascript" src="//flex.atdmt.com/mstag/site/34ff2f11-9370-40a9-9600-d9eb847bb701/mstag.js">
</script> 
<script type="text/javascript">

    mstag.loadTag("conversion", { cp: "5050", dedup: "1" })
</script>
 <noscript> 
<iframe src="//flex.atdmt.com/mstag/tag/34ff2f11-9370-40a9-9600-d9eb847bb701/conversion.html?cp=5050&dedup=1" 
  frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none">
 </iframe> 
</noscript>


    <div id="main">
	<div id="headerRegDiv">
	</div>
	<div class="clearFloat"></div>
	<div id="header2RegDiv">
	</div>
	<div class="clearFloat"></div>
	<div id="leftRegDiv">
	</div>
	<div id="bodyRegDiv">
		<div id="Box3SliceContainerReg">
			<div id="Box3SliceContainer_top_1RegSucess">

			</div>
            
            <div class="Go_ahead_and_Register">
			
                 <p class="lastNode">
                     @ViewData["RegisterStatus"]                                   
                </p> 
               
               @if(Model.PhotoStatus  == true ){       
                           <div id ="CenterLinkDiv">
                     @Html.ActionLink("Back to Home Page","SplashPage", "Home")
            
</div>
             }               


			</div> 
             @if(Model.PhotoStatus  == false ){       
            @Html.Partial("UploadPhoto", Model)  
      }  

                 
               

	      

			<div class="clearFloat"></div>
		<div id="Box3SliceContainer_bottom_1Reg">
		</div>
		</div>
		<div class="clearFloat"></div>
	</div>
	<div id="rightRegDiv">
	</div>
	<div class="clearFloat"></div>
	<div id="footerRegDiv">
	</div>
	<div class="clearFloat"></div>
</div>



