<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <!--<filter type="" />-->
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="fromAddress">
        <network enableSsl="true" defaultCredentials="false" userName="username" host="host" password="password" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MessagingServiceBehavior" name="RESTful_Web_Service1.EmailMessagingService">
      <endpoint address="" behaviorConfiguration="EndpBehavior"
          binding="webHttpBinding" bindingConfiguration="WebHttpBinding"
          name="AzureWebSite" contract="RESTful_Web_Service1.IMessaging" kind="webHttpEndpoint"
          endpointConfiguration="" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="WebHttpBinding" closeTimeout="01:10:00" openTimeout="01:10:00"
          receiveTimeout="01:10:00" sendTimeout="01:10:00" maxBufferSize="2147483646"
          maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646">
          <readerQuotas maxStringContentLength="2147483646" maxArrayLength="2147483646"
            maxBytesPerRead="2147483646" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="MessagingServiceBehavior">
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="100" />
          <serviceTimeouts transactionTimeout="01:10:00" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <httpErrors errorMode="Detailed" />
    <validation validateIntegratedModeConfiguration="false" />
    <!-- We need the following 6 lines, to let JavaScript call our REST web services -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
