<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <connectionStrings>
    <!-- 
    Work
     <add name="ApiKeyContext"   providerName="System.Data.SqlClient"       connectionString="Server=MTXD112937;Database=ApiKey;User ID=sa;password=kayode02;"/>
    Home Dev
      <add name="ApiKeyContext"   providerName="System.Data.SqlClient"       connectionString="Server=NMEDIASQL02;Database=ApiKey;User ID=sa;password=kayode02;"/>

    -->
    <add name="NotificationContext" providerName="System.Data.SqlClient" connectionString="Server=NMEDIASQL02;Database=Notification;User ID=sa;password=kayode02;" />
   <add name="PostalData2Entities" connectionString="metadata=res://*/Models.PostalDataModel.csdl|res://*/Models.PostalDataModel.ssdl|res://*/Models.PostalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.200;initial catalog=PostalData2;user id=sa;password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApiKeyContext"   providerName="System.Data.SqlClient"       connectionString="Server=MTXD112937;Database=ApiKey;User ID=sa;password=kayode02;"/>

  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    
    <services>
      <service name="Shell.MVC2.Services.Notification.ErrorNotificationService">
        <endpoint address="Soap" binding="basicHttpBinding" contract="Shell.MVC2.Services.Contracts.IErrorNotificationService" name="soap" />
        <endpoint address="Rest" binding="webHttpBinding" behaviorConfiguration="web" contract="Shell.MVC2.Services.Contracts.IErrorNotificationService" name="rest" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service name="Shell.MVC2.Services.Notification.InfoNotificationService" behaviorConfiguration ="ApiKeyBehavior">
        <endpoint address="Soap" binding="basicHttpBinding" contract="Shell.MVC2.Services.Contracts.IInfoNotificationService"  
                  name="soap"  />
        <endpoint address="Rest" binding="webHttpBinding" behaviorConfiguration="web" contract="Shell.MVC2.Services.Contracts.IInfoNotificationService"
                  name="rest"   />
       
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="genericbehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="20485760" />
        </behavior>
        <behavior name ="ApiKeyBehavior">
          <!-- This behavior enables API Key Verification -->
          <serviceAuthorization serviceAuthorizationManagerType=" Shell.MVC2.Data.APIKeyAuthorization, 
                                Shell.MVC2.Data"  />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="20485760" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true" helpEnabled="true" faultExceptionEnabled="true"  />
          
        </behavior>
        <behavior name="HelpBehavior">
          <webHttp helpEnabled="true" defaultBodyStyle="Wrapped" automaticFormatSelectionEnabled="true" faultExceptionEnabled="true" />
        </behavior>
        <!-- needed for client to know what to do-->
        <behavior name="webhttp">
          <webHttp faultExceptionEnabled="true" defaultBodyStyle="Wrapped" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"  aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <remove value="AccountService.asmx" />
            </files>
        </defaultDocument>
  </system.webServer>
  
</configuration>
