<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="UserRepairLogContext" providerName="System.Data.SqlClient" connectionString="Server=NMEDIASQL02;Database=AnewLuvUpdatesLog;User ID=sa;password=kayode02;" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      
      <service name="Shell.MVC2.Services.Logging.UserRepairService">
        <endpoint address="Soap" binding="basicHttpBinding" contract="Shell.MVC2.Services.Contracts.IUserRepairService" name="soap" />
        <endpoint address="Rest" binding="webHttpBinding" behaviorConfiguration="web" contract="Shell.MVC2.Services.Contracts.IUserRepairService" name="rest" />
      </service>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true" helpEnabled="true" faultExceptionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <remove value="AccountService.asmx" />
            </files>
        </defaultDocument>
  </system.webServer>
  
</configuration>
