<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- cache host(s) -->
  <dataCacheClient requestTimeout="15000" channelOpenTimeout="3000" maxConnectionsToServer="1">
    <localCache isEnabled="true" sync="TimeoutBased" ttlValue="300" objectCount="10000" />
    <clientNotification pollInterval="300" maxQueueLength="10000" />
    <!-- cache host(s) -->
    <hosts>
      <host name="NmediaApps01.Nmedia.com" cachePort="22233" />
    </hosts>
    <securityProperties mode="None" protectionLevel="None" />
    <transportProperties connectionBufferSize="131072" maxBufferPoolSize="2684354562" maxBufferSize="90000000" maxOutputDelay="2" channelInitializationTimeout="60000" receiveTimeout="900000" />
  </dataCacheClient>
  <connectionStrings>
    <!-- work-->
    <!--
      <add name="AnewluvContext"  providerName="System.Data.SqlClient"       connectionString="Server=MTXD112937;Database=TestCF;User ID=sa;password=kayode02;"/>
     <add name="PostalData2Entities" connectionString="metadata=res://*/Models.PostalDataModel.csdl|res://*/Models.PostalDataModel.ssdl|res://*/Models.PostalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MTXD112937;initial catalog=PostalData2;user id=sa;password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />   
     <add name="ApiKeyContext"   providerName="System.Data.SqlClient"  connectionString="Server=MTXD112937;Database=ApiKey;User ID=sa;password=kayode02;"/>
    -->
    <!-- home Dev -->
    <!--
     <add name="AnewluvContext"   providerName="System.Data.SqlClient"  connectionString="Server=NMEDIASQL02;Database=AnewluvTest;User ID=sa;password=kayode02;Connect Timeout=120;"/>
     <add name="PostalData2Entities" connectionString="metadata=res://*/Models.PostalDataModel.csdl|res://*/Models.PostalDataModel.ssdl|res://*/Models.PostalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.200;initial catalog=PostalData2;user id=sa;password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="ApiKeyContext"   providerName="System.Data.SqlClient"       connectionString="Server=NMEDIASQL02;Database=ApiKey;User ID=sa;password=kayode02;"/>
    -->
    <!--Home Prod-->
    <!--
     <add name="AnewluvContext"   providerName="System.Data.SqlClient"  connectionString="Server=192.168.0.112;Database=AnewluvTest;User ID=sa;password=nimda2004tn!;Connect Timeout=120;"/> 
     <add name="PostalData2Entities" connectionString="metadata=res://*/Models.PostalDataModel.csdl|res://*/Models.PostalDataModel.ssdl|res://*/Models.PostalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.112;initial catalog=PostalData2;user id=sa;password=nimda2004tn!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />   
    <add name="ApiKeyContext"   providerName="System.Data.SqlClient"   connectionString="Server=192.168.0.112;Database=ApiKey;User ID=sa;password=nimda2004tn!;"/>
    -->
    <add name="AnewluvContext" providerName="System.Data.SqlClient" connectionString="Server=NMEDIASQL02;Database=AnewluvTest;User ID=sa;password=kayode02;Connect Timeout=120;" />
    <add name="PostalData2Entities" connectionString="metadata=res://*/Models.PostalDataModel.csdl|res://*/Models.PostalDataModel.ssdl|res://*/Models.PostalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.200;initial catalog=PostalData2;user id=sa;password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApiKeyContext" providerName="System.Data.SqlClient" connectionString="Server=NMEDIASQL02;Database=ApiKey;User ID=sa;password=kayode02;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Shell.MVC2.Services.Authentication.MembershipService">
        <endpoint address="Soap" binding="basicHttpBinding" contract="Shell.MVC2.Services.Contracts.IAuthenticationService" name="soap" />
        <endpoint address="Rest" binding="webHttpBinding" behaviorConfiguration="web" contract="Shell.MVC2.Services.Contracts.IAuthenticationService" name="rest" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true" helpEnabled="true" faultExceptionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>