@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#headerActivate1Div {
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 20px;
}
html > body #headerActivate1Div {
	height: auto;
	min-height: 20px;
}
#header2Activate1Div {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 87px;
}
html > body #header2Activate1Div {
	height: auto;
	min-height: 88px;
}
#leftActivate1Div {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 170px;
	padding-top: 0px;
	height: auto;
}
html > body #leftActivate1Div {
	height: auto;
	min-height: 600px;
}
#bodyActivate1Div {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 622px;
	padding-top: 0px;
	height: auto;
}
html > body #bodyActivate1Div {
	height: auto;
	min-height: 400px;
}
#Box3SliceContainerActivate {
	margin-left: 11px;
	margin-top: 18px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 600px;
	background-image: url(images/ActivateMid.png);
	background-repeat: repeat;
}
#Box3SliceContainer_top_1Activate {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/PleaseActivateTop1.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 62px;
	margin-bottom: 0;
	width: 600px;
	background-repeat: no-repeat;
	background-position: center;
}

.Go_ahead_Log_in_and_Activate1 {
	   font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 120%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 101px;
	margin-top: 51px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 396px;
}




.UsernameActivate1 {
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 105px;	
	display: inline;
	float: left;
	margin-bottom: 0;
}
.TextField_win_UsrNmeActivate1 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 20px;	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.passwordActivate1 {
		font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 92px;	
	display: inline;
	float: left;
	margin-bottom: 0;
}
.TextField_win_psswrdActivate1 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 23px;	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
#buttonActivate1Div {
	margin-left: 36px;
	margin-top: 32px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 124px;
	padding-top: 0px;
	height: 41px;
	outline-color: #000;
	border: 1px solid #000;
}
html > body #buttonActivate1Div {
	height: auto;
	min-height: 42px;
}
#Box3SliceContainer_bottom_1Activate {
	margin-left: 0px;
	margin-top: 147px;
	background-image: url(images/ActivateBottom.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 27px;
	margin-bottom: 0;
	width: 600px;
}
#rightActivate1Div {
		margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #f5f6f7;
	width: 170px;
	padding-top: 0px;
	height: auto;
}
html > body #rightActivate1Div {
	height: auto;
	min-height: 600px;
}
#footerActivate1Div {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 20px;
}
html > body #footerActivate1Div {
	height: auto;
	min-height: 124px;
}
