@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#headerDiv {
	margin-left: 0px;
	margin-top: -1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 1022px;
	padding-top: 0px;
	height: 330px;
}
html > body #headerDiv {
	height: auto;
	min-height: 329px;
}
#headerDivinbox2 {
	margin-left: 0px;
	margin-top: -1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 112px;
	background-image: url(images/headerPngClear.png);
	background-repeat: no-repeat;
	background-position: center;
}
html > body #headerDivinbox2 {
	height: auto;
	min-height: 113px;
}
#Link:link, #Link:visited {
	margin-right: 14px;
	margin-top: 63px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}


#pic9 {
	margin-right: 28px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic9 {
	height: auto;
	min-height: 94px;
}
#pic8 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic8 {
	height: auto;
	min-height: 94px;
}
#pic7 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic7 {
	height: auto;
	min-height: 94px;
}
#pic6 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic6 {
	height: auto;
	min-height: 94px;
}
#pic5 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic5 {
	height: auto;
	min-height: 94px;
}
#pic4 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic4 {
	height: auto;
	min-height: 94px;
}
#pic3 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic3 {
	height: auto;
	min-height: 94px;
}
#pic2 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic2 {
	height: auto;
	min-height: 94px;
}
#pic1 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic1 {
	height: auto;
	min-height: 94px;
}
#leftDivinbox {
	margin-left: 1px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 176px;
	padding-top: 0px;
	height: 600px;
}
html > body #leftDivinbox {
	height: auto;
	min-height: 600px;
}
#mailNavDivinbox {
	margin-left: 0px;
	margin-top: 82px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 175px;
	padding-top: 0px;
	height: 139px;
	background-image: url(images/inboxNavBox.png);
	background-repeat: no-repeat;
	background-position: center;
}
html > body #mailNavDivinbox {
	height: auto;
	min-height: 140px;
}
.Txt_Inboxinbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 28px;
	margin-top: 26px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_900inbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 19px;
	margin-top: 26px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Sentinbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 29px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_500inbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 23px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Trashinbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 29px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_100inbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 17px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#bodyDivinbox {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 634px;
	padding-top: 0px;
	height: 600px;
}
html > body #bodyDivinbox {
	height: auto;
	min-height: 431px;
}
.Txt_INBOXinbox {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 210%;
	font-weight: bold;
	text-align: left;
	color: #115eb3;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 270px;
	margin-top: 35px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#inboxBoxinbox {
	margin-left: 10px;
	margin-top: 22px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 608px;
	background-image: url(images/midInbox.png);
	background-repeat: repeat;
}
#inboxBox_topinbox {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/topInbox.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 12px;
	margin-bottom: 0;
	width: 608px;
}
.Txt_Selectinbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 21px;
	margin-top: 3px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#deleteButtonDivinbox {
	margin-right: 20px;
	margin-top: 0px;
	display: inline;
	float: right;
	margin-bottom: 0;
	width: 93px;
	padding-top: 0px;
	height: 25px;
}
html > body #deleteButtonDivinbox {
	height: auto;
	min-height: 26px;
}
#infoBarDivinbox {
	margin-left: 14px;
	margin-top: 3px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 578px;
	padding-top: 0px;
	height: 40px;
	background-image: url(images/menuBar.png);
	background-repeat: no-repeat;
	background-position: center;
}
html > body #infoBarDivinbox {
	height: auto;
	min-height: 41px;
}
.Txt_Frominbox {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 82px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Repliedinbox {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 10px;
	margin-top: 11px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
.Txt_Readinbox {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 16px;
	margin-top: 11px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
.Txt_Dateinbox {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 50px;
	margin-top: 11px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
.Txt_Subjectinbox {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 95px;
	margin-top: 11px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#pic_boxinbox {
	margin-left: 55px;
	margin-top: 30px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic_boxinbox {
	height: auto;
	min-height: 94px;
}

.pic_boxinboxinner   img{

	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body .pic_boxinbox img {
	
	min-height: 94px;
}


.Active_within_hours_inbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;	
	margin-top: 3px;
	margin-bottom: 0;
	
}


#colwrap4inbox {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 446px;
}
#inboxInfoDivinbox {
	margin-left: 2px;
	margin-top: 60px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 444px;
	padding-top: 0px;
	height: 43px;
}
html > body #inboxInfoDivinbox {
	height: auto;
	min-height: 44px;
}
.Txt_Biginbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 5px;
	margin-top: 8px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Thinkinbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 17px;
	margin-top: 8px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Noinbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 25px;
	margin-top: 8px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
.Txt_Yesinbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 35px;
	margin-top: 8px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
.Txt_9202011inbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 36px;
	margin-top: 10px;
	display: inline;
	float: right;
	margin-bottom: 0;
	width: 60px;
}
#Lineinbox {
	margin-left: 29px;
	margin-top: 37px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border-bottom: 1px solid #666;
	width: 540px;
	height: 1px;
	overflow: hidden;
}

#bottonpaginginbox
{
    margin-bottom: 0;
    padding-right: 3.5em;
    padding-top: 1em;
    font-size: small;
    font-weight: bold;
 float : right;
 
}


#inboxBox_bottominbox {
	margin-left: 0px;
	margin-top: 5px;
	background-image: url(images/bottomInbox.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 12px;
	margin-bottom: 0;
	width: 608px;
}
#rightDivinbox {
	margin-left: 1px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 170px;
	padding-top: 90px;
	padding-bottom : 20px;
	height: 600px;
}
html > body #rightDivinbox {
	height: auto;
	min-height: 600px;
}

/* css for threaded messaged added by desho */





#bodyDivinboxThread {
	margin-left: 0px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 634px;
	padding-top: 0px;
	height: 600px;
}
html > body #bodyDivinboxThread {
	height: auto;
	min-height: 431px;
}


.Txt_ThreadedHeader {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 210%;
	font-weight: bold;
	text-align: left;
	color: #115eb3;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	 text-align :center ;
	margin-top: 35px;
	display: inline;
	
	margin-bottom: 0;
}

.box 
{
    
    display: inline;
	padding:3px;
	background-color:#dedede;
	margin-bottom:3px;
	 margin-top : 10px;
	border-bottom:2px solid #ccc;
	float: left;
	margin-bottom: 0;
	width: 500px;
	padding-top: 0px;
	height: auto;
	margin-left :55px;
}

html > body .box {
	height: auto;
	min-height: 100px;
}

.box:hover{background-color:#ccc;}

#load {
	position:absolute;
	left:225px;
	background-image:url(../.../Content/Images/loading-bg.png);
	background-position:center;
	background-repeat:no-repeat;
	width:159px;
	color:#999;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	height:40px;
	font-weight:300;
	padding-top:14px;
	top: 23px;
}


#container {
	position:relative;
}
.avatar {
	float:left;
	margin-right:20px;
}
.text {
	float:left;
	width:300px;
	font-size:13px;
}
.text span {
	font-size:18px;
	line-height:23px;
	font-weight:700;
}
.delete {
	margin-top:30px;
	float:left;
	margin-left:30px;
}
a.delete {
	padding:3px;
	text-align:center;
	font-size:18px;
	font-weight:700;
	text-decoration:none;
	color:#C00;
}
a.delete:hover {
	background-color:#900;
	color:#FFF;
}
.date {
	padding-top:10px;
	font-weight:700;
	color:#333;
	font-size:12px;
}