@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}

#interestsheaderDiv {
	margin-left: 0px;
	margin-top: 20px;
	 text-align :center;
	margin-bottom: 0;
	padding-top: 20px;
	height: 90px;
}
html > body #interestsheaderDiv {
		height: auto;
	min-height: 90px;
}
#interestsheaderDiv2 {
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1023px;
	padding-top: 0px;
	height: 0px;
}
html > body #interestsheaderDiv2 {
	height: auto;
	min-height: 0px;
}
#interestspostBoardDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 0px
}
html > body #interestspostBoardDiv {
	height: auto;
	min-height: 0px;
}
#interestspicBoxDiv {
	margin-left: 0px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	width: 1024px;
	padding-top: 0px;
	height: 114px;
}
html > body #interestspicBoxDiv {
	height: auto;
	min-height: 114px;
}


#pic9 {
	margin-right: 28px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic9 {
	height: auto;
	min-height: 94px;
}
#pic8 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic8 {
	height: auto;
	min-height: 94px;
}
#pic7 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic7 {
	height: auto;
	min-height: 94px;
}
#pic6 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic6 {
	height: auto;
	min-height: 94px;
}
#pic5 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic5 {
	height: auto;
	min-height: 94px;
}
#pic4 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic4 {
	height: auto;
	min-height: 94px;
}
#pic3 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic3 {
	height: auto;
	min-height: 94px;
}
#pic2 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic2 {
	height: auto;
	min-height: 94px;
}
#pic1 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic1 {
	height: auto;
	min-height: 94px;
}
#interestsbodyDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 782px;
	padding-top: 0px;
	height: auto;
}
html > body #interestsbodyDiv {
height: auto;
	min-height: 600px;
}


.Interestsinterests {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 310%;
	font-weight: bold;
	text-align: left;
	color: #115eb2;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 280px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 18px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#interestsdeleteDiv {
	margin-right: 29px;
	margin-top: 10px;
	display: inline;
	float: right;
	margin-bottom: 0;
	/*border: 1px solid #000;*/
		padding-top: 0px;
	
}
html > body #interestsdeleteDiv {
	height: auto;
	min-height: 21px;
}
#interestsgreybarDiv {
	margin-left: 18px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 745px;
	padding-top: 0px;
	height: 37px;
	background-image: url(images/greyBar.png);
	background-repeat: no-repeat;
	background-position: center;
}
html > body #interestsgreybarDiv {
	height: auto;
	min-height: 38px;
}
#interestsCheckboxDiv1 {
	margin-left: 0px;
	margin-top: 5px;
	display: inline;
	float: left;
	margin-bottom: 0;
	/*border: 1px solid #000;*/
	width: 23px;
	padding-top: 0px;
	height: 24px;
}
html > body #interestsCheckboxDiv1 {
	height: auto;
	min-height: 23px;
}
#interestsquikDetailsDiv {
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 781px;
	padding-top: 0px;
	height: 299px;
	background-image: url(images/detailViewProfileBox.png);
	background-repeat: no-repeat;
	background-position: center;
}
html > body #interestsquikDetailsDiv {
	height: auto;
	min-height: 300px;
}
#colwrapInterests4 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 227px;
}
#interestsDetailLefttDiv {
	margin-left: 9px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 238px;
	padding-top: 0px;
	height: 297px;
}
html > body #interestsDetailLefttDiv {
	height: auto;
	min-height: 298px;
}
#interestsCheckboxDiv2 {
	margin-left: 10px;
	margin-top: 20px;
	display: inline;
	float: left;
	margin-bottom: 0;
	/*border: 1px solid #000;*/
	width: 20px;
	padding-top: 0px;
	height: 20px;
}
html > body #interestsCheckboxDiv2 {
	height: auto;
	min-height: 20px;
}
#colwrapInterests7 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 151px;
}
.Name_or_handleinterests {
font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 5px;
    text-align: center	;
    width: 150px;
	margin-top: 16px;	
	margin-bottom: 0;
}
#interestsdetailsProfileBoxDiv  {
	margin-left: 1px;
	margin-top: 3px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 148px;
	padding-top: 0px;
	height: 149px;
}
html > body #interestsdetailsProfileBoxDiv {
	height: auto;
	min-height: 148px;
}

.interestsdetailsProfileBoxInnerDiv a img  {
	margin-left: 0px;
	margin-top :0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 148px;
	padding-top: 0px;
	height: 149px;
	
}

html > body .interestsdetailsProfileBoxInnerDiv a img {	
	min-height: 148px;
}


.Ageinterests {
		font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
/*	margin-left: 88px;*/
	margin-top: 1px;	
    width: 200px;
	margin-bottom: 0;
}
.Location_SWinterests {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;	
	text-align:center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	width: 200px;
	margin-top: 3px;	
	margin-bottom: 0;
}
.age_person_seekinginterests {
		font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;	
	margin-top: 3px;
		
	margin-bottom: 0;
	width:200px;
}
.Active_within_hours_interests {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;	
	margin-top: 3px;
	margin-bottom: 0;
	width: 200px; height :50px;
}

.onlinenowInnerInterestsdiv 
{   margin-left :70px;
    margin-top : -12px;
}


#interestsprofileNavDiv {
	margin-left: 3px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 130px;
	padding-top: 0px;
	height: 297px;
}
html > body #interestsprofileNavDiv {
	height: auto;
	min-height: 298px;
}
#colwrapInterests6 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 392px;
}

.My_catchy_intro_lineinterests {
		font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;	 
	margin-top: 28px;


	margin-bottom: 0;
	width : 300px;
}
.Lorem_ipsum_dolor_siinterests {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-align: center;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
   height : 120px;	
	margin-top: 15px;
	
	
	margin-bottom: 0;
	width: 327px;
}
.View_Full_Profileinterests {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: right;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	
	margin-top: 60px;
	
	
	margin-bottom: 0;
}
.Previousinterests {
		font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #5590cd;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 64px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Nextinterests {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #6898ff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 80px;
	margin-top: 0px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#interestsrightDiv {
	margin-left: 0px;
	margin-top: 105px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 242px;
	padding-top: 0px;
	height: auto;

}
html > body #interestsrightDiv {
	height: auto;
	min-height: 600px;
}
#interestsfooterDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 90px;
}
html > body #interestsfooterDiv {
	height: auto;
	min-height: 90px;
}
