@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}






#headerLogInDiv {
	margin-top: 10px;	
 text-align :center ;
	margin-bottom: 0;	
	padding-top: 10px;
	height: 94px;
	padding-bottom : 20px;
}
html > body #headerLogInDiv {
	height: auto;
	min-height: 90px;
}
#headerLogIn2Div {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: auto;
}
html > body #headerLogIn2Div {
	height: auto;
	min-height: 20px;
}
#leftLogInDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 170px;
	padding-top: 0px;
	height: auto;
}
html > body #leftLogInDiv {
	height: auto;
	min-height: 500px;
}
#bodyLogInDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 680px;
	padding-top: 0px;
	height: auto;
}
html > body #bodyLogInDiv {
	height: auto;

}
#Box3SliceContainerLogin2 {
	margin-left: 35px;
	margin-top: 18px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 600px;
	background-image: url(images/LoginMid.png);
	background-repeat: repeat;
}
#Box3SliceContainer_top_1Login {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/LogInTop3.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 62px;
	margin-bottom: 0;
	width: 600px;
	background-repeat: no-repeat;
	background-position: center;
}
.Go_ahead_Log_in_and_LogIn {
	   font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 120%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 101px;
	margin-top: 51px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 396px;
}

#Txt_UsernameLogin
 {
font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 92px;	
	display: inline;
	float: left;
	margin-bottom: 0;
}
.TextField_win_usrNmeLogIn {
		color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 20px;	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.Txt_passwordLogin {
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 92px;	
	display: inline;
	float: left;
	margin-bottom: 0;
}
.TextField_win_psswrdLogIn {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 23px;	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}


#txt_LoginRememberMe {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 0px;
	margin-left: 50px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
}

#chk_LoginRememberMe  {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 20px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}



#Txt_EmailLogin
 {
font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 140px;	
	display: inline;
	float: left;
	margin-bottom: 5px;
	margin-top : 20px;
}

.TextField_win_EmailLogIn
 {
		color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 20px;	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 5px;
	width: 190px;
		margin-top : 20px;
}





#Txt_SecurityQuestionLogin
 {
font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 65px;	
	display: inline;
	float: left;
	margin-bottom: 0;
}

.TextField_win_SecurityQuestionLogIn
 {
		color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 20px;	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
		
}


#Txt_SecurityAnswerLogin
 {
font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 72px;	
	display: inline;
	float: left;
	margin-bottom: 0;
}

.TextField_win_SecurityAnswerLogIn
 {
		color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 20px;	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
		
}





#buttonLogInDiv {
	margin-left: 175px;
	margin-top: 12px;
	display: inline;
	
	margin-bottom: 20px;
	 text-align : center;
	width: 122px;
	padding-top: 0px;
	height: 41px;
}

html > body #buttonLogInDiv {
	height: auto;
	min-height: 26px;
}


#Box3SliceContainer_bottom_1Login
{
    margin-left: 0px;
    margin-top: 100px;
    background-image: url(images/LogInBottom.png);
    overflow: hidden;
    display: inline;
    float: left;
    height: 27px;
    margin-bottom: 0;
    width: 600px;
}


html > body #buttonLogInDiv {
	height: auto;
	min-height: 40px;
}


#rightLogInDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;

	margin-bottom: 0;
	background-color: #f5f6f7;
	width: 170px;
	padding-top: 0px;
	height: auto;
}
html > body #rightLogInDiv {
	height: auto;
	min-height: 500px;
}
#footerLogInDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 123px;
}
html > body #footerLogInDiv {
	height: auto;
	min-height: 124px;
}
