@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
	text-align: center;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main 
{
    background-color: #f5f6f7;
	margin: 0 auto;
	width: 1024px;
}
#headerDiv {
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 114px;
}
html > body #headerDiv {
	height: auto;
	min-height: 115px;
}
#Link:link, #Link:visited {
	margin-right: 14px;
	margin-top: 61px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link:hover, #Link:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}


.Txt_Hi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 16px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
}



#header2Div {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 87px;
}
html > body #header2Div {
	height: auto;
	min-height: 88px;
}
#leftDivLogin {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 170px;
	padding-top: 0px;
	height: auto;
}
html > body #leftDivLogin {
	height: auto;
	min-height: 500px;
}
#BodyDiv 
{
    background-color: #f5f6f7;
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 622px;
	padding-top: 0px;
	height: auto;
}
html > body #BodyDiv {
	height: auto;
	min-height: 500px;
}
#Box3SliceContainerLogin {
	margin-left: 11px;
	margin-top: 18px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 600px;
	background-image: url(images/LoginBottom.png);
	background-repeat: repeat-y;
}
#Box3SliceContainerLogin_top_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/LoginTop.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 64px;
	margin-bottom: 0;
	width: 602px;
background-position: right top;
	background-repeat: no-repeat;
}
.Txt_Go {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 160%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 36px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 543px;
}
.Txt_UsernameLogin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 36px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.TextField_UsernameLogin {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 10px;
	margin-top: 10px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.Txt_password {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 36px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.TextField_password  {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 10px;
	margin-top: 10px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}



.txt_LoginRememberMe {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 40px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
}

.chk_LoginRememberMe  {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 20px;
	margin-top: 10px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}


.buttonDiv {
	margin-left: 36px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 124px;
	padding-top: 0px;
	height: 41px;
}
html > body #buttonDiv {
	height: auto;
	min-height: 42px;
		margin-left :165px;
}
#Box3SliceContainerLogin_bottom_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/LogonMid.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 27px;
	margin-bottom: 0;
	width: 600px;
}
#rightDivLogin {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	  	width: 170px;
	padding-top: 0px;
	height: auto;
}
html > body #rightDivLogin {
	height: auto;
	min-height: 500px;
}



/* new stuff add to other pages */
.BottomLinks {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 36px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 543px;
}




#footerDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 123px;
}
html > body #footerDiv {
	height: auto;
	min-height: 124px;
}
