@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#headeMyQSEcharacterrDiv {
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 90px;
}
html > body #headeMyQSEcharacterrDiv {
	height: auto;
	min-height: 90px;
}
#header2MyQSEcharacterDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 40px;
}
html > body #header2MyQSEcharacterDiv {
	height: auto;
	min-height: 88px;
}
.My_Quik_Stats_EditsMyQSEcharacter {
font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 250%;
	font-weight: bold;
	text-align: left;
	color: #115eb3;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	 text-align :center ;
	margin-top: 0px;
	margin-bottom: 0;
	width: auto
}
#leftMyQSEcharacterDiv {
		margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 201px;
	padding-top: 0px;
	height: auto;
}
html > body #leftMyQSEcharacterDiv {
	height: auto;
	min-height: 10px;
}
#BodyMyQSEcharacterDiv {
margin-left: 0px;
	margin-top: 0px;	
	float: left;
	margin-bottom: 0;
	width: 622px;
	padding-top: 0px;
	height: 0px;
}
html > body #BodyMyQSEcharacterDiv {
	height: auto;
	min-height: 0px;
}
#MyQSEcharacterBox3SliceContainer {
	margin-left: 9px;
	margin-top: 30px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 602px;
	background-image: url(images/AccountSettingsMid.png);
	background-repeat: repeat;
}
#MyQSEcharacterBox3SliceContainer_top_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/characterTop3.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 62px;
	margin-bottom: 0;
	width: 602px;
	background-repeat: no-repeat;
	background-position: center;
}

/* new stuff for the links at top */
.CharacterSettingsNavigationLinks
{
   margin-left :80px;
 text-align : center;   
   
}


.MeMyQSEcharacter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 271px;
	margin-top: 36px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#characterMeComboBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 219px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 130px;
}
.YouMyQSEcharacter {
		font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-top: 30px;

 text-align :center;
	margin-bottom: 0;
}
#MyQSEcharactercolwrap4 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 202px;
}
#chkboxLeftMyQSEcharacterDiv {
	margin-left: 47px;
	margin-top: 37px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 155px;
	padding-top: 0px;
	height: 162px;
}
html > body #chkboxLeftMyQSEcharacterDiv {
	height: auto;
	min-height: 163px;
}
#BuddTaoCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 10px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#christianCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#muslimIslamCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#jewishCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#hinduCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#MyQSEcharactercolwrap5 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 175px;
}
#chkBoxMidMyQSEcharacterDiv {
	margin-left: 40px;
	margin-top: 37px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 135px;
	padding-top: 0px;
	height: 162px;
}
html > body #chkBoxMidMyQSEcharacterDiv {
	height: auto;
	min-height: 163px;
}
#catholicCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 10px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#protestantCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#LDSCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#mormonCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#agnosticCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#MeMyQSEcharactercolwrap6 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 208px;
}
#chkBoxRightMyQSEcharacterDiv {
	margin-left: 23px;
	margin-top: 37px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 185px;
	padding-top: 0px;
	height: 162px;
}
html > body #chkBoxRightMyQSEcharacterDiv {
	height: auto;
	min-height: 163px;
}
#atheistCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 1px;
	margin-top: 10px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#sceintoglogistCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 1px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#spiritButCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 1px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#notReligCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 1px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#otherCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 1px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#anyCheckBox_win_MyQSEcharacter {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 281px;
	margin-top: 15px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 30px;
}
.backMyQSEcharacter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 56px;
	margin-top: 41px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.nextMyQSEcharacter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 47px;
	margin-top: 39px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#buttonMyQSEcharacterDiv {
	margin-left: 155px;
	margin-top: 15px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 122px;
	padding-top: 0px;
	height: 41px;
}
html > body #buttonMyQSEcharacterDiv {
	height: auto;
	min-height: 40px;
}
#MyQSEcharacterBox3SliceContainer_bottom_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/AccountSettingsBottom.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 62px;
	margin-bottom: 0;
	width: 602px;
}
#rightMyQSEcharacterDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 201px;
	padding-top: 0px;
	height: auto;
}
html > body #rightMyQSEcharacterDiv {
	height: auto;
	min-height: 10px;
}
#footerMyQSEcharacterDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: auto;
}
html > body #footerMyQSEcharacterDiv {
	height: auto;
	min-height: 10px;
}
