@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
/*div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}*/
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#qProfilEheaderDiv {
	margin-left: 0px;
	margin-top: 0px;


	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 0px;
}
html > body #qProfilEheaderDiv {
	height: auto;

}
#qProfilEheaderDiv2 {
	margin-left: 0px;
 text-align :center;
	width: 1023px;
	padding-top: 0px;
	height: 30px;
}
html > body #qProfilEheaderDiv2 {
	height: auto;
	min-height: 30px;
}
#qProfilEpostBoardDiv {
	margin-left: 0px;
	margin-top: 0px;
	 text-align :center;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 105px;
}
html > body #qProfilEpostBoardDiv {
	height: auto;
	min-height: 105px;
}
#qProfilEpicBoxDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 139px;
}
html > body #qProfilEpicBoxDiv {
	height: auto;
	min-height: 140px;
}
#photoBoxStrip {
	margin-left: 10px;
	margin-top: 17px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 998px;
	padding-top: 0px;
	height: 113px;
}
html > body #photoBoxStrip {
	height: auto;
	min-height: 112px;
}
#pic9 {
	margin-right: 28px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic9 {
	height: auto;
	min-height: 94px;
}
#pic8 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic8 {
	height: auto;
	min-height: 94px;
}
#pic7 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic7 {
	height: auto;
	min-height: 94px;
}
#pic6 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic6 {
	height: auto;
	min-height: 94px;
}
#pic5 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic5 {
	height: auto;
	min-height: 94px;
}
#pic4 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic4 {
	height: auto;
	min-height: 94px;
}
#pic3 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic3 {
	height: auto;
	min-height: 94px;
}
#pic2 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic2 {
	height: auto;
	min-height: 94px;
}
#pic1 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic1 {
	height: auto;
	min-height: 94px;
}
#qProfilEbodyDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 780px;
	padding-top: 0px;
	height: 1195px;
}
html > body #qProfilEbodyDiv {
	height: auto;
	min-height: 1194px;
}

.MiddleNavbuttonsquickprofile {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	 text-align :center;
	color: #5590cd;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;	
    margin-top: 20px;
	
	margin-bottom: 0;
    width : auto;
}

.MiddleNaveButtonsBorder

{
margin-left: 0px;
	margin-top: 0px;	
		
	margin-bottom: 0;
	width: 760px;
}




.Txt_PreviousqProfilE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #5590cd;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 44px;
	margin-top: 21px;
	display: inline;
	float: left;
	margin-bottom: 0;
}




.Txt_NextqProfilE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #6898ff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 164px;
	margin-top: 23px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
.Txt_returnqProfilE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 159px;
	margin-top: 8px;
	display: inline;
	float: right;
	margin-bottom: 0;
}


/*.Txt_PreviousqProfilE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #5590cd;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 44px;
	margin-top: 21px;
	display: inline;
	float: left;
	margin-bottom: 0;
	
}
.Txt_NextqProfilE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #6898ff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 164px;
	margin-top: 23px;
	display: inline;
	float: right;
	margin-bottom: 0;
	
}
.Txt_returnProfilE  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 159px;
	margin-top: 8px;
	display: inline;
	float: right;
	margin-bottom: 0;
}*/
#qProfilEcolwrap3 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 670px;
}
#qProfileBox3SliceContainer {
	margin-left: 8px;
	margin-top: -1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 660px;
	background-image: url(images/midProfileqProfilE.png);
	background-repeat: repeat;
}
#qProfileBox3SliceContainer_top_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/topProfileqProfilE.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 30px;
	margin-bottom: 0;
	width: 660px;
}
.Name_or_HandleqProfilE {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 1px;
	padding-top: 1px;
	/*margin-left: 91px;*/
	margin-top: 13px;
	display: inline-block;
	float: left;
	margin-bottom: 0;
	width:270px;
	max-width:280px;
	min-height:20px;
}
.My_catchy_intro_lineqProfilE {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 1px;
	padding-top: 1px;
	padding-right:18px;
	/*margin-right: 124px;*/
	margin-top: 13px;
	display: inline-block;
	float: right;
	margin-bottom: 0;
	width:370px;
	max-width:380px;
	min-height:20px;
}
#qProfilEcolwrap6 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 238px;
}
.qProfilEquikDetailsProfileBoxDiv {
	margin-left: 44px;
	margin-top: 5px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 192px;
	padding-top: 0px;
	height: 193px;
}

.qProfilEquikDetailsProfileBoxDiv  img  {
	margin-left: 0px;
	margin-top :0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 192px;
	padding-top: 0px;
	height: 193px;
}



html > body .qProfilEquikDetailsProfileBoxDiv {
	height: auto;
	min-height: 192px;
}


#qProfilEbottomPhotoDiv {
	margin-left: 44px;
	margin-top: 0px;
	display: inline;
	text-align:center;
	float: left;
	margin-bottom: 0;
	border: none;
	width: 192px;
	padding-top: 0px;
	height: 49px;
}
html > body #qProfilEbottomPhotoDiv {
	height: auto;
	min-height: 48px;
}
.ageqProfilE {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 120%;
	
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	/*margin-left: 10px;*/
	margin-top: 8px;
	display: inline-block;
	float: left;
	margin-bottom: 0;
}
.ageNumberqProfilE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	/*margin-left: 8px*/;
	margin-top: 8px;
	display: inline-block;
	float: left;
	margin-bottom: 0;
}
.BumfuckSWqProfilE {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	/*margin-right: 44px;*/
	margin-top: 8px;
	display: inline-block;
	/*float: right;*/
	margin-bottom: 0;
}
.Seeking_person_age_0qProfilE {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	/*margin-left: 8px;*/
	margin-top: 3px;
	display: inline-block;
	float: left;
	margin-bottom: 0;
}
.Active_within_hours_qProfilE {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	/*margin-left: 20px;*/
	margin-top: 3px;
	display: inline-block;
	float: left;
	margin-bottom: 2px;
}
#qProfilEcolwrap7 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 408px;
	text-align: center;
}
.YOUqProfilE {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	/*margin-right: 66px;*/
	margin-top: 8px;
	display: inline-block;
	float: right;
	margin-bottom: 0;
	width:130px;
}
.MEqProfilE {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	/*margin-right: 130px;*/
	margin-top: 8px;
	display: inline-block;
	float: right;
	margin-bottom: 0;
	width:150px;
}
.quikProfileRows{
	margin-left: 10px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: none;
	width: 396px;
	padding-top: 0px;
	height: 20px;
	text-align: center;
}

html > body .quikProfileRows{
	height: auto;
	min-height: 28px;
}
#qProfilEethnicity_div {
	margin-left: 10px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: none;
	width: 396px;
	padding-top: 0px;
	height: 29px;
	text-align: center;
}
html > body #qProfilEethnicity_div {
	height: auto;
	min-height: 28px;
}
.categoriesQuikProfile{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 9px;
	margin-top: 3px;
	display: inline-block;
	float: left;
	margin-bottom: 0;
	
	
}
.meQuikProfileColWrap{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-top: 5px;
	display: inline-block;
	float: right;
	margin-bottom: 0;
	vertical-align: middle;
	width: 130px;
}

.youQuikProfileColWrap{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	/* [disabled]margin-right: 42px; */
	margin-top: 4px;
	display: inline-block;
	float: right;
	margin-bottom: 0;
	width: 130px;
	
}


#qProfileBox3SliceContainer_bottom_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/bottomProfileqProfilE.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 30px;
	margin-bottom: 0;
	width: 660px;
}
#qProfilEprofileNavBar {
	margin-left: 3px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: none;
		width: 104px;
 padding-top :15px;
	
	height: auto;
}
html > body #qProfilEprofileNavBar {
	height: auto;
	min-height: 0px;
}

.chatquickprofile  
{
      background-image: url('../Content/Images/chatNow_s1.png');
    border: none;
    margin-left :9px;
    width: 108px;
    height: 40px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
     background-position: center center;  
    background-color :transparent;    
  

    
} 
  
.chatquickprofile:hover
{
    background-image: url('../Content/Images/chatNow_s2.png');
     border: none;
      margin-left :9px;
    width: 108px;
    height: 40px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
     background-position: center center;  
        background-color :transparent;
          cursor : pointer;
} 


.emailquickprofile  
{
    margin-top :7px;
      background-image: url('../Content/Images/emailMe_s1.png');
    border: none;
     margin-left :5px;
    width: 110px;
    height: 40px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
     background-position: center center;  
    background-color :transparent;    
  

    
} 
  
.emailquickprofile:hover
{
     margin-top :7px;
    background-image: url('../Content/Images/emailMe_s2.png');
     border: none;
      margin-left :5px;
    width: 110px;
    height: 40px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
     background-position: center center;  
        background-color :transparent;
          cursor : pointer;
} 


a.emailquickprofile { 
    
     background-image: url('../Content/Images/emailMe_s1.png');   
     display: block;    
     text-indent: -9999px; /* hides the link text */ 
     cursor:pointer;	
} 


.interestquickprofile
{
   
   margin-top :10px;
      margin-left :5px; 
    background-image: url('../Content/Images/sendInterest_s1.png');
     border: none;
    width: 110px;
    height: 47px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-color :transparent; 

} 
 

.interestquickprofile:hover
{
     margin-top :10px;
      margin-left :5px; 
    background-image: url('../Content/Images/sendInterest_s2.png');    
    background-repeat: no-repeat;
    height: 47px;
    width: 110px;
      text-decoration: none;
    background-repeat: no-repeat;
     background-position: center center;  
        background-color :transparent;
          cursor : pointer;
} 

/*.interestquickprofile:visited
{
    margin-top: 10px;
    background-image: url('../Content/Images/sendInterest_s3.png');    
    background-repeat: no-repeat;
    height: 47px;
    width: 110px;
    background-position: center center;
}*/

a.interestquickprofile { 
    
     background-image: url('../Content/Images/sendInterest_s1.png');   
     display: block;    
     text-indent: -9999px; /* hides the link text */ 
     cursor:pointer;	
} 

.interestalreadysentquickprofile
{
 margin-top :10px;
      margin-left :5px; 
  background-image: url('../Content/Images/sendInterest_s3.png');
    border: none;
    width: 110px;
    height: 47px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center center;   
    
 }

.likequickprofile
{
 
    background-image: url('../Content/Images/iLlikeYou.png');
     margin-left :7px;
    border: none;
    width: 110px;
    height: 40px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position:  right  center;
    background-color: transparent;
} 
  
.likequickprofile:hover
{
   
    background-image: url('../Content/Images/iLlikeYou_s2.png');
     margin-left :7px;
 border: none;
    width: 110px;
    height: 40px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
     background-position: right  center;  
    background-color :transparent; 
      cursor : pointer;
} 


/*.likequickprofile:visited
{
    margin-top: 0px;
    background-image: url('../Content/Images/iLlikeYou_s2.png');    
    background-repeat: no-repeat;
    height: 49px;
    width: 110px;
    background-position: right center;
}*/

.likealreadysentquickprofile
{
   margin-top: 0px;
    margin-left :7px;
    background-image: url('../Content/Images/iLlikeYou_s3.png');
  border: none;
    width: 110px;
    height: 49px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
     background-position:  right  center;  
    background-color :transparent; 
}

a.likequickprofile 
{ 
     background-image: url('../Content/Images/iLlikeYou_s1.png');   
     display: block;    
     text-indent: -9999px; /* hides the link text */ 
     cursor:pointer;	
} 

.blockquickprofile
{
     margin-left: 9px;
     margin-top :6px;
    background-image: url('../Content/Images/blockUser_s1.png');
    border: none;
    width: 110px;
    height: 40px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
     background-position:  right center;  
    background-color :transparent; 
} 
  
.blockquickprofile:hover
{
      margin-left: 9px;
     margin-top :6px;
    background-image: url('../Content/Images/blockUser_s2.png');
    border: none;
    width: 110px;
    height: 40px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
     background-position:  right center;  
    background-color :transparent; 
      cursor : pointer;
} 

a.blockquickprofile 
{ 
     background-image: url('../Content/Images/blockUser_s1.png');   
     display: block;    
     text-indent: -9999px; /* hides the link text */ 
     cursor:pointer;	
} 

.blockedquickprofile
{
    
       margin-left: 9px;
     margin-top :6px;
       background-image: url('../content/Images/blockUser_s3.png');
    border: none;
   width: 110px;
    height: 40px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
     background-position: right  center;  
  
} 

.blockedquickprofile:hover
{
     margin-left: 9px;
     margin-top :6px;
    background-image: url('../Content/Images/blockUser_s4.png'); 
   border: none;
    width: 110px;
    height: 40px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
     background-position:  right  center;  
    background-color :transparent;
      cursor : pointer; 
} 

a.blockedquickprofile 
{ 
     background-image: url('../Content/Images/blockUser_s3.png');   
     display: block;    
     text-indent: -9999px; /* hides the link text */ 
     cursor:pointer;	
} 

.reportquickprofile
{
   margin-top :11px;
     margin-left :3px;
    background-image: url('../Content/Images/reportConcern.png');
   border: none;
    width: 110px;
    height: 40px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
     background-position: center center;  
    background-color :transparent; 
} 
  
.reportquickprofile:hover
{
    margin-top :11px;
    margin-left :3px;
    background-image: url('../Content/Images/reportConcern_s1.png');
  border: none;
    width: 110px;
    height: 40px;
    display: block;
    color: White;
    font-size: 14px;
    text-decoration: none;
    background-repeat: no-repeat;
     background-position: center center;  
    background-color :transparent; 
      cursor : pointer;
} 


a.reportquickprofile 
{ 
     background-image: url('../Content/Images/reportConcern.png');   
     display: block;    
     text-indent: -9999px; /* hides the link text */ 
     cursor:pointer;	
} 

.qProfileLinkAddDiv
{
 margin-left: 100px;
 max-height: 25px;  
}



#qProfilEleftAdDiv {
	margin-left: 0px;
	margin-top: 7px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: none;
	width: 336px;
	padding-top: 0px;
	height: 238px;
	max-width: 336px;
}
html > body #qProfilEleftAdDiv {
	height: auto;
	min-height: 280px;
}
#qProfilEcolwrap6 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 240px;
}
#qProfilEmidDiv {
	margin-left: 0px;
	margin-top: 7px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: none;
	width: 400px;
	padding-top: 0px;
	height: 238px;
	max-width: 350px;
}
html > body #qProfilEmidDiv {
	height: auto;
	min-height: 237px;
	max-height: 237px;
}
.more_photosqProfilE {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align:center;
	color: #6798ff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	/*margin-left: 168px;*/
	margin-top: 7px;
	display: inline;
	/*float: left;*/
	margin-bottom: 0;
		
}

#qProfilePhotosScrollBox {
height :230px; 
width:300px; 
cursor :pointer;
	 overflow : auto;
	
}

#qProfilEphoto1 {
	margin-left: 20px;
	margin-top: 13px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 83px;
	padding-top: 0px;
	height: 84px;
}
html > body #qProfilEphoto1 {
	height: auto;
	min-height: 83px;
}



.About_me_and_the_typqProfilE1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-align: left;
	color: #6bb5fe;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 125px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#qProfilEtextAreaDiv {
	margin-left: 75px;
	margin-top: 22px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #666;
	width: 648px;
	padding-top: 0px;
	height: auto;
	text-align:center;
}
html > body #qProfilEtextAreaDiv {
	height: auto;
	min-height: 0px;
}
.Lorem_ipsum_dolor_siqProfilE2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 9px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 622px;
}
.Lorem_ipsum_dolor_siqProfilE3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 9px;
	margin-top: 19px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 559px;
}
#qProfilErightDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 240px;
	padding-top: 0px;
	height: 1195px;
}
html > body #qProfilErightDiv {
	height: auto;
	min-height: 1194px;
}
#qProfilEfooterDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 121px;
	border-top-width: 1px;
}
html > body #qProfilEfooterDiv {
	height: auto;
	min-height: 122px;
}
#qProfilEtextAreaDiv{
	border-radius:10px;
	outline:20px #09F;
}

#appearH3FullProfileDiv {
	margin-left: 76px;
	margin-top: 20px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 2px solid #6bb5ff;
	width: 648px;
	padding-top: 0px;
	height: 39px;
	background-color:#09F;
}
html > body #appearH3FullProfileDiv {
	height: auto;
	min-height: 38px;
}
.h3_Appearance {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-align: left;
	color: #6798ff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 4px;
	margin-left: 7px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#appearFullProfileDiv {
	margin-left: 77px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 648px;
	padding-top: 0px;
	height: 189px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: inset;
	border-left-style: solid;
	border-top-color: #6bb5ff;
	border-right-color: #6bb5ff;
	border-bottom-color: #6bb5ff;
	border-left-color: #6bb5ff;
}
html > body #appearFullProfileDiv {
	height: auto;
	min-height: 188px;
}
.YouAccord {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-top: 5px;
	display: inline-block;
	float: right;
	margin-bottom: 0;
	vertical-align: middle;
	width:240px;
	padding-right: 7px;
	
}
.MEacord {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-top: 5px;
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	width:230px;
	float: right;
}


/*apearance,lifestyle, character
horizontal rows*/
.alcInnerRows {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 636px;
	padding-top: 0px;
	height: 29px;
	text-align: center;
	padding-right: 0px;
}
html > body .alcInnerRows {
	height: auto;
	min-height: 30px;
}
.categoriesAcc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 9px;
	margin-top: 5px;
	display: inline-block;
	float: left;
	width:auto;
	max-width: 230px;
}
.youColwrapAccord{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-top: 5px;
	display: inline-block;
	float: right;
	margin-bottom: 0;
	vertical-align: middle;
	width:240px;
	padding-right: 7px;
	
	
	
}
html > body.youColwrapAccord{
	min-width:200px;
	
}
.meColwrapAccord{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-top: 5px;
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	width:230px;
	float: right;
	 }

html > body .meColwrapAccord{
	max-width: 290px;
	min-width: 230px;

	
}

#lifeStyleH3FullProfileDiv {
	margin-left: 76px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 2px solid #6bb5ff;
	width: 648px;
	padding-top: 0px;
	height: 39px;
}
html > body #lifeStyleH3FullProfileDiv {
	height: auto;
	min-height: 38px;
}
.h3_LifeStyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-align: left;
	color: #6798ff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 6px;
	margin-left: 7px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#lifeStyleFullProfileDiv {
	margin-left: 77px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 648px;
	padding-top: 0px;
	height: 280px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: inset;
	border-left-style: solid;
	border-top-color: #6bb5ff;
	border-right-color: #6bb5ff;
	border-bottom-color: #6bb5ff;
	border-left-color: #6bb5ff;
}
html > body #lifeStyleFullProfileDiv {
	height: auto;
	min-height: 278px;
}


#characterH3FullProfileDiv {
	margin-left: 76px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 2px solid #6bb5ff;
	width: 648px;
	padding-top: 0px;
	height: 39px;
}
html > body #characterH3FullProfileDiv {
	height: auto;
	min-height: 38px;
}
.h3_Character {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-align: left;
	color: #6798ff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 5px;
	margin-left: 7px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#characterFullProfileDiv {
	margin-left: 77px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 3px;
	width: 648px;
	padding-top: 0px;
	height: 364px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: outset;
	border-right-style: solid;
	border-bottom-style: inset;
	border-left-style: solid;
	border-top-color: #6bb5ff;
	border-right-color: #6bb5ff;
	border-bottom-color: #6bb5ff;
	border-left-color: #6bb5ff;
}
html > body #characterFullProfileDiv {
	height: auto;
	min-height: 363px;
}



/*css3*/
#appearH3FullProfileDiv,#lifeStyleH3FullProfileDiv,#characterH3FullProfileDiv{
	border-radius:6px;
	cursor:pointer;
	
	
	
}
#appearH3FullProfileDiv,#lifeStyleH3FullProfileDiv,#characterH3FullProfileDiv{
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffffff 1%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 1%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 1%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 1%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 1%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
}


/*.highlight{
	background-color:#036;
}
/*.h3_Appearance, .h3_LifeStyle, .h3_Character{
	text-shadow:0px 4px 2px
	#6bb5ff;
	
	
}*/ #appearH3FullProfileDiv:hover,#lifeStyleH3FullProfileDiv:hover, #characterH3FullProfileDiv:hover{
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzdhYmNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzYwYWJmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iIzQwOTZlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(122,188,255,1) 10%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 93%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(10%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(93%,rgba(64,150,238,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(122,188,255,1) 10%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 93%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(122,188,255,1) 10%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 93%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(122,188,255,1) 10%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 93%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(122,188,255,1) 10%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 93%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */


cursor:pointer;

}*/

.lastNode,#appearFullProfileDiv,#lifeStyleFullProfileDiv,#characterInRlgnFullProfileDiv{
	text-align:center;
	
}
#appearFullProfileDiv,#lifeStyleFullProfileDiv,#characterFullProfileDiv{
	border-radius:0px 0px 6px 6px;
	background-color:;
}

.iconDiv {
	display:block;
	width:12px;
	height:9px;
	float:left;
	relative:10px;
	position:relative;
	top:14px;
	left:4px;
	background-image: url(file:///C|/Users/K%20Diggs/Desktop/test%20donemy%20side/images/bluearrow%20icons.png);
	background-repeat: no-repeat;
	 
}
#appearH3FullProfileDiv:hover .iconDiv,#lifeStyleH3FullProfileDiv:hover .iconDiv,#characterH3FullProfileDiv:hover .iconDiv{
	background-position:-12px 0;
	url(file:///C|/Users/K%20Diggs/Desktop/test%20donemy%20side/images/bluearrow%20icons.png);
	
	
}
.h3_Character, .h3_Appearance, .h3_LifeStyle{
	padding-right:496px;
	padding-bottom: 8px;
}

 h3:hover {
	color: white;
	
	
}
#appearFullProfileDiv .block,#lifeStyleFullProfileDiv .block,#characterFullProfileDiv .block{
	padding:12px;
}
/*.block p.lastNode{
	margin-left: auto;
    margin-right: auto;
    display: table;
     display: inline-block;
	
}*/
