@charset "utf-8";

body {
	background-color: #fff;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#headerDiv {
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 328px;
}
html > body #headerDiv {
	height: auto;
	min-height: 329px;
}
#headerDiv2 {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 1022px;
	padding-top: 0px;
	height: 112px;
	background-image: url(images/headerPngNew.png);
	background-repeat: no-repeat;
	background-position: center;
}
html > body #headerDiv2 {
	height: auto;
	min-height: 111px;
}


#pic9 {
	margin-right: 28px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic9 {
	height: auto;
	min-height: 94px;
}
#pic8 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic8 {
	height: auto;
	min-height: 94px;
}
#pic7 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic7 {
	height: auto;
	min-height: 94px;
}
#pic6 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic6 {
	height: auto;
	min-height: 94px;
}
#pic5 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic5 {
	height: auto;
	min-height: 94px;
}
#pic4 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic4 {
	height: auto;
	min-height: 94px;
}
#pic3 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic3 {
	height: auto;
	min-height: 94px;
}
#pic2 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic2 {
	height: auto;
	min-height: 94px;
}
#pic1 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic1 {
	height: auto;
	min-height: 94px;
}
#leftDivreadmsg {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 155px;
	padding-top: 0px;
	height: auto;
		padding-top: 80px;
}
html > body #leftDivreadmsg {
	height: auto;
	min-height: 500px;
}
#bodyDivreadmsg {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 691px;
	padding-top: 0px;
	height: auto;
}
html > body #bodyDivreadmsg {
	height: auto;
	min-height: 400px;
}
.Txt_READreadmsg {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 210%;
	font-weight: bold;
	text-align: center;
	color: #115eb3;
	line-height: 100%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 280px;
	margin-top: 36px;
	display: inline;
	float: left;
	margin-bottom: 0;
}

.Txt_READreadmsgStatus {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 210%;
	font-weight: bold;
	text-align: center;
	color: #115eb3;
	line-height: 100%;
	padding-bottom: 2px;
	padding-top: 1px;	
	margin-top: 20px;
	

	margin-bottom: 0;
}


.Txt_Backreadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 6px;
	margin-top: 6px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Nextreadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: center;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 28px;
	margin-top: 6px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#rightMessageBoxreadmsg {
	margin-left: 8px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 674px;
	background-image: url(images/midReadMessage.png);
	background-repeat: repeat;
}
#rightMessageBox_topreadmsg {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/topReadMessage.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 14px;
	margin-bottom: 0;
	width: 674px;
}
#colwrap4readmsg {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 149px;
}
#leftMesssgeBoxreadmsg {
	margin-left: 4px;
	margin-top: -10px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #f2f1ed;
	width: 144px;
	padding-top: 0px;
	height: 296px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
html > body #leftMesssgeBoxreadmsg {
	height: auto;
	min-height: 298px;
}
#photoDivreadmsg {
	margin-left: 25px;
	margin-top: 23px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #photoDivreadmsg {
	height: auto;
	min-height: 94px;
}
.Txt_Agereadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 33px;
	margin-top: 4px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_30readmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 9px;
	margin-top: 5px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Somewherereadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 25px;
	margin-top: 9px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_ThreadModereadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 37px;
	margin-top: 91px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#colwrap5readmsg {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 519px;
}
#replyTrashDivreadmsg {
	margin-left: 3px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 516px;
	padding-top: 0px;
	height: 23px;
}
html > body #replyTrashDivreadmsg {
	height: auto;
	min-height: 24px;
}
.Txt_REPLYreadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	text-align: center;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 48px;
	margin-top: 4px;
	display: inline;
	float: left;
	margin-bottom: 0;
}

.Txt_Blockreadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 9px;
	margin-top: 3px;
	display: inline;
	float: right;
	margin-bottom: 0;
}


.Txt_Reportreadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 9px;
	margin-top: 3px;
	display: inline;
	float: right;
	margin-bottom: 0;
}

.Txt_TRASHreadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 9px;
	margin-top: 3px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#fromDivreadmsg {
	margin-left: 3px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 516px;
	padding-top: 0px;
	height: 27px;
}
html > body #fromDivreadmsg {
	height: auto;
	min-height: 28px;
}
.Txt_Fromreadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 6px;
	margin-top: 5px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Namereadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 6px;
	margin-top: 4px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#subjectDivreadmsg {
	margin-left: 3px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 516px;
	padding-top: 0px;
	height: 27px;
}
html > body #subjectDivreadmsg {
	height: auto;
	min-height: 28px;
}
.Txt_Subjectreadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 6px;
	margin-top: 3px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Areadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 6px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#dateDivreadmsg {
	margin-left: 3px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 516px;
	padding-top: 0px;
	height: 27px;
}
html > body #dateDivreadmsg {
	height: auto;
	min-height: 28px;
}
.Txt_Datereadmsgreadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 6px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_123110readmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 10px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_843readmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 9px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#Linereadmsg {
	margin-left: 15px;
	margin-top: 4px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border-bottom: 1px solid #000;
	width: 485px;
	height: 1px;
	overflow: hidden;
}
.Txt_Messagereadmsg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 10px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#rightMessageBox_bottomreadmsg {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/botReadMesage.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 13px;
	margin-bottom: 0;
	width: 674px;
}
#rightDivreadmsg {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 155px;
	padding-top: 0px;
	height: auto;
		padding-top: 60px;
}
html > body #rightDivreadmsg {
	height: auto;
	min-height: 500px;
}



