@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#headerRegDiv {
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 50px;
}
html > body #headerRegDiv {
	height: auto;
	min-height: 50px;
}
#header2RegDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 20px;
}
html > body #header2RegDiv {
	height: auto;
	min-height: 20px;
}
#leftRegDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 170px;
	padding-top: 0px;
	height: auto;
}
html > body #leftRegDiv {
	height: auto;
	min-height: 600px;
}
#bodyRegDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 622px;
	padding-top: 0px;
	height: 671px;
}
html > body #bodyRegDiv {
	height: auto;
	min-height: 672px;
}
#Box3SliceContainerReg {
	margin-left: 40px;
	margin-top: 18px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 600px;
	background-image: url(images/registrationMid.png);
	background-repeat: repeat;
}
#Box3SliceContainer_top_1Reg {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/signUpTop1.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 62px;
	margin-bottom: 0;
	width: 600px;
	background-repeat: no-repeat;
	background-position: center;
}

#Box3SliceContainer_top_1RegSucess {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/completeRegistration!.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 62px;
	margin-bottom: 0;
	width: 600px;
	background-repeat: no-repeat;
	background-position: center;
}


.Go_ahead_and_Register {
	   font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 120%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 101px;
	margin-top: 51px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 396px;
}



.UsernameReg {
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 105px;	
	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextField_win_UsrNmeReg {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 20px;	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}


.Email_AddressReg {
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 82px;	
	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextField_win_EmailAdrssReg {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 23px;	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.Confirm_EmailReg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 82px;	
	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextField_win_CnfrmEmailReg {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 22px;	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.Birth_DateReg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 91px;
	
	display: inline;
	float: left;
	margin-bottom: 0;
}
#ComboBox_win_BrthDteReg {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 25px;

	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.GenderReg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 124px;	
	display: inline;
	float: left;
	margin-bottom: 0;
}
#ComboBox_win_GenderReg {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 25px;
	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.passwordReg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 110px;

	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextField_win_psswrdReg {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 25px;

	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.Confirm_PasswordReg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 61px;
	
	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextField_win_CnfrmPsswrdReg {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 20px;

	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.CountryReg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 118px;

	display: inline;
	float: left;
	margin-bottom: 0;
}
#ComboBox_win_CountryReg {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 28px;

	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.My_CityReg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 140px;
	
	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextField_win_MyCityReg {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 31px;
	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.ZipPostal_CodeReg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 82px;

	display: inline;
	float: left;
	margin-bottom: 0;
}
#ComboBox_win_ZipPstReg {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 18px;
	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.ScreenameReg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 90px;
	
	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextField_win_ScrnNameReg {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 18px;	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.Security_QuestionReg {
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 67px;
	
	display: inline;
	float: left;
	margin-bottom: 0;
}
#ComboBox_win_SecQuReg {
	color: #000;
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 15px;
	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}
.Security_AnswerReg {
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 75px;	
	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextField_win_SecAnwrReg {
	color: #000;
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 16px;
	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}


#CenterLinkRegDiv {
	 text-align : center;
	float: left;

	padding-top: 0px;

}


#buttonReg1Div {
	margin-left: 230px;
	margin-top: 18px;
	display: inline;
	float: left;
	margin-bottom: 0;
	

	padding-top: 0px;

}
html > body #buttonReg1Div {
	height: auto;
	min-height: 26px;
}
#buttonReg2Div 
{
    margin-bottom :20px;
	margin-left: 45px;
	margin-top: 18px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 78px;
	padding-top: 0px;
	height: 27px;
}
html > body #buttonReg2Div {
	height: auto;
	min-height: 26px;
}
#Box3SliceContainer_bottom_1Reg {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/registrationBottom.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 27px;
	margin-bottom: 0;
	width: 600px;
}
#rightRegDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #f5f6f7;
	width: 0px;
	padding-top: 0px;
	height: auto;
}
html > body #rightRegDiv {
	height: auto;
	min-height: 600px;
}
#footerRegDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 0px;
}
html > body #footerRegDiv {
	height: auto;
	min-height: 0px;
}
