/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

/* other shared css */

/* these styles may be moved as string values into database and thus cacheable into app fabric later 
they and dynamically pulled so we can use a single master page for pages with multiple body formats and backgrounds
*/
.StandardWhiteBackground
{
background-color: #FFFFFF;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

.StandardGreyBackground
{
   background-color:  #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0; 
    
}




/*photo upload stuff*/
.Txt_OnceUploadPhoto
{
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
   font-size: 120%;
    text-align: left;
    color: #000;
    line-height: 120%;
    padding-bottom: 2px;
    padding-top: 1px;
    text-align :center;
    margin-top: 10px;
    display: inline;
    margin-bottom: 0;
    width: 543px;
}

/* css to allow for icon change to pointer */
.rotator
{
    
}


.Txt_PhotoUploadCaption
{
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 0px;
	margin-left: 102px;	
	display: inline;
	float: left;
	margin-bottom: 0;
}
.TextField_PhotoUploadCaption {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 20px;	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 100px;
}

.Txt_PhotoUpload 
{
font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 0px;
	margin-left: 152px;	
	display: inline;
	float: left;
	margin-bottom: 0;
}
.TextField_PhotoUpload {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 20px;	
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 190px;
}

/* common submit button css formating */
#buttonTelerik1 {
 margin-left :  220px;
	margin-top: 18px; 
	float: left;
	margin-bottom: 0;
	padding-top: 0px;
	display: inline;
}

html > body #buttonTelerik1 {
	height: auto;
	min-height: 26px;
}
#buttonTelerik2 {
	margin-left: 45px;
	margin-top: 18px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: auto;
	padding-top: 0px;
	height: 27px;
}
html > body #buttonTelerik2 {
	height: auto;
	min-height: 26px;
}


/* common submit button css formating for bootstrap dual buttons*/
#buttonbootstrap1 {
 margin-left :  150px;
	margin-top: 18px; 
	float: left;
	margin-bottom: 0;
	padding-top: 0px;
	display: inline;
	
}

html > body #buttonbootstrap1 {
	height: auto;

}
#buttonbootstrap2 {
	margin-left: 45px;
	margin-top: 18px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: auto;
	padding-top: 0px;
	
}
html > body #buttonbootstrap2 {
	height: auto;
	
}

/*these two links replace the duplicated next and back links on quick profile eidts*/
.EditProfileBottomLinkBack {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 40px;
	margin-top: 30px;
	display: inline;
	float: left;
	margin-bottom: 0;
}

.EditProfileBottomLikNext 
{
  font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 39px;
	margin-top: 30px;
	display: inline;
	float: right;
	margin-bottom: 0;  
	
}




/* common submit button css formating */
#buttonTelerikEditProfile {
 margin-left :  195px;
	margin-top: 18px; 
	float: left;
	margin-bottom: 0;
	padding-top: 0px;
	display: inline;
}

/* common submit button css formating */
#buttonBootstrapEditProfile {
 margin-left :  150px;
	margin-top: 18px; 
	float: left;
	margin-bottom: 0;
	padding-top: 0px;
	display: inline;
}






#buttonTelerikCenterLinkDiv 
{
  
	 margin-left : 285px;
	padding-top: 10px;

}





.buttonStandardDiv {
	margin-left: 36px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 124px;
	padding-top: 0px;
	height: 41px;
}
html > body #buttonStandardDiv {
	height: auto;
	min-height: 42px;
	margin-left :165px;
}


#CenterLinkDiv 
{
  
	  text-align :center;
	padding-top: 0px;

}

.CenterLinkDiv 
{
  
  
	  text-align :center;
	 

}

.MvcActionLinkStyle
{
font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;    
    
}

.MvcActionLinkStyle:link
{
font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #034af3;
	line-height: 120%;
	text-decoration : none;
	
}

.MvcActionLinkStyle:visited
{
   color: #505abc;
   
}


.MvcActionLinkStyle:focus
{
    color: #009933;
    text-decoration: underline;
}



.MvcActionLinkStyle:hover
{
   color: #1d60ff;
  text-decoration: underline;      
   
   
}

.MvcActionLinkStyle:active
{
    /*  color: #12eb87;*/
    color: #FF3300;
    font-weight: bold;
    text-decoration : none;
}





/* */


bodysite {
    background-color: #5c87b2;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}



/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

tablesite {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

tablesite td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

tablesite th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/



.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}


/* Styles for validation left placement
----------------------------------------------------------*/

.TextFeildRightValidation
{
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	margin-left: 20px;
	margin-top: 15px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: auto;
}



/* Shared gallery stuff
----------------------------------------------------------*/

#GalleryLeftDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	/*border: 1px solid #0ff;*/
	width: 97px;
	padding-top: 0px;
	height: 1179px;
}
html > body #GalleryLeftDiv {
	height: auto;
	min-height: 1178px;
}
#Gallerycolwrap {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 715px;
}
#GalleryheaderDiv {
	margin-left: 0px;
	margin-top: 20px;
	padding-top : 20px;
	display: inline;
	float: left;
	margin-bottom: 0;
	/*border: 1px solid #000;*/
	width: 713px;
	padding-top: 0px;
	/*height: 109px;*/
}
html > body #GalleryheaderDiv {
	height: auto;
	/*min-height: 108px;*/
}
#GallerybodyDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	/*border: 1px solid #000;*/
	width: 713px;
	padding-top: 0px;
	height: 954px;
}
html > body #GallerybodyDiv {
	height: auto;
	min-height: 953px;
}
#GallerypostBoardDiv {
	margin-left: 0px;
	margin-top: -1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	/*border: 1px solid #000;*/
	width: 712px;
	padding-top: 0px;
	height: 104px;
}
html > body #GallerypostBoardDiv {
	height: auto;
	min-height: 103px;
}
* layouts for the out Gallery pic box
/* no margins for this layout */


.fullgallerylayout {
	
}

/* specific code for my matches */
.mymatcheslayout 
{
  margin-left : 15px; 
}

.GallerypicDivOuter {
	margin-top: 18px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 138px;
	padding-top: 0px;
	height: 167px;
	background-image: url(images/galleryClearbox_s1.png);
	background-repeat: no-repeat;
	background-position: center top;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
html > body .GallerypicDivOuter {

	min-height: 166px;
}

.GallerypicDivInner {
	margin-left: 19px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 2px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body .GallerypicDivInner {
	
	min-height: 94px;
}
.GallerypicDivInner a img  {
	margin-left: 0px;
	margin-top :0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 94px;
	padding-top: 0px;
	height: 95px;
	
}




html > body .GallerypicDivInner a img {	
	min-height: 94px;
}
#GallerynameDiv 
{
  
	margin:0px auto;	
	border: 0px none #000;
	width: 138px;
	padding-top: 5px;
	height: 12px;
	text-align :center;
	font-family: 'Cooper Std Black', Arial, Helvetica, sans-serif;
	font-size: 130%;
	line-height: 130%;
	color: #6bd9ff;
}
html > body #GallerynameDiv {

	min-height: 10px;
}

.Gallerytext {
	font-family: 'Cooper Std Black', Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: center;
	color: #6bd9ff;
	line-height: 110%;
	display: inline;
	margin-bottom: 0;
}
#GalleryageCityDiv {
 font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000;
	line-height: 100%;
    margin: 0 auto;
	
	margin-bottom: 0;
	border: 0px none #000;
	width: 138px;
	padding-top: 7px;
	 text-align: center;
	 	 display :inline-block;
}
html > body #GalleryageCityDiv {	
	min-height: 10px;
}
.Gallerytxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 17px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Gallerytext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-align: center;
	color:  green;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 10px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#GalleryactiveWhenDiv {
	margin:0px auto;	
	margin-bottom: 0;
	border: 0px none #000;
	width: 138px;
	padding-top: 0px;
	height: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #000;
 line-height : 120%;
 text-align :center ;
 float:left;
 

}




html > body #GalleryactiveWhenDiv {

	max-height: 16px;
}
.Gallerytext3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 5px;
	padding-top: 0px;
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	margin-bottom: 0px;
	padding-left: 0px;
}

a.galleryChatIcon99 
{ 
    background: url(images/chatIconsSm.png) no-repeat top left; 
     margin-top  : -23px;
     margin-left :100px;
     display: block; 
     width: 14px; 
     height: 13px; 
     text-indent: -9999px; /* hides the link text */ 
     cursor:pointer;	
} 

a.galleryChatIcon99:hover {
	background-position: -21px 0;
	
}



a.galleryChatIcon99:hover {
	background-position: -21px 0;
	
}


.onlinenowtext {
 margin-top : -5px;
}

.galleryChatIcon  
{
    margin-top  : -25px;
     margin-left :100px;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0;
	 display :inline-block;
	border: 0px none #000;
	width: 14px;
	padding-top: 0px;
	height: 13px;
	background-image: url(images/chatIconsSm.png);
	background-repeat: no-repeat;
	background-position: left top;
	cursor:pointer;	
	
	
}


html > body .galleryChatIcon {
	height: auto;
	min-height: 12px;
}
.galleryChatIcon:hover {
	background-position: -21px 0;
	
}


#GalleryfooterDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	/*border: 1px solid #000;*/
	width: 713px;
	padding-top: 0px;
	height: auto;
}
html > body #GalleryfooterDiv {
	height: auto;
	/*min-height: 113px;*/
}
#GalleryrightDiv {

	margin-top: 20px;
	display: inline;
	float: left;
	margin-bottom: 0;
	/*border: 1px solid #000;*/
	width: 207px;
	padding-top: 0px;
	height: 1179px;
}
html > body #GalleryrightDiv {
	height: auto;
	min-height: 1178px;
}
#rightDivquicksearch {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	  	width: 50px;
	padding-top: 107px;
	height: auto;
}


.QuickSearchPaging
{
margin-top : 10px;
   
}

html > body #rightDivquicksearch {
	height: auto;
	min-height: 100px;
}
.searchResults
{
    padding-top :20px;
	width:710px;
	height:5px;
}
.pageCount
{
      padding-top :20px;
	width:710px;
	height:5px;
}
/* place holders for add divs in debug mode */
.topbottombannertestadd
{
    width: 728px;
    height: 90px;
   
}

.topbottomlinkadd {
	  width: 728px;
    height: 15px;
    border: medium dotted #000000;
}

.leftrightskyscraperadd {
	  width:160px;
      height:600px;
      border: medium dotted #000000;
}

.300x250boxadd {
	 height :250px;
	 width: 300px;
	 border: medium dotted #000000;
}