<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="ImageResizer" version="3.4.0" targetFramework="net40" />
  <package id="ImageResizer.Plugins.AdvancedFilters" version="3.4.0" targetFramework="net40" />
  <package id="ImageResizer.Plugins.PrettyGifs" version="3.4.0" targetFramework="net40" />
  <package id="ImageResizer.Plugins.SeamCarving" version="3.4.0" targetFramework="net40" />
  <package id="ImageResizer.Plugins.SimpleFilters" version="3.4.0" targetFramework="net40" />
  <package id="ImageResizer.Plugins.Watermark" version="3.4.0" targetFramework="net40" />
  <package id="ImageResizer.Plugins.WhitespaceTrimmer" version="3.4.0" targetFramework="net40" />
</packages>