<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.serviceModel">
      <section name="domainServices" type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" allowDefinition="MachineToApplication" requirePermission="false" />
      <!-- required to read the <dataCacheClient> element added 9/28/2011 -->
    </sectionGroup>
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="telerik">
      <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- cache host(s) -->
  <dataCacheClient requestTimeout="15000" channelOpenTimeout="3000" maxConnectionsToServer="1">
    <localCache isEnabled="true" sync="TimeoutBased" ttlValue="300" objectCount="10000" />
    <clientNotification pollInterval="300" maxQueueLength="10000" />
    <!-- cache host(s) -->
    <hosts>
      <host name="NmediaApps01.Nmedia.com" cachePort="22233" />
    </hosts>
    <securityProperties mode="None" protectionLevel="None" />
    <transportProperties connectionBufferSize="131072" maxBufferPoolSize="2684354562" maxBufferSize="90000000" maxOutputDelay="2" channelInitializationTimeout="60000" receiveTimeout="900000" />
  </dataCacheClient>
  <connectionStrings>
    <!--<add name="telecosystemsEntities" connectionString="metadata=res://*/Models.TelecoSystemsEFModel.csdl|res://*/Models.TelecoSystemsEFModel.ssdl|res://*/Models.TelecoSystemsEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LUKAS-PC;Initial Catalog=telecosystems;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--
   production
  <add name="AnewLuvFTSEntities" connectionString="metadata=res://*/Models.DatingModel.csdl|res://*/Models.DatingModel.ssdl|res://*/Models.DatingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.112;initial catalog=AnewLuvFTS;persist security info=True;user id=sa;password=nimda2004tn!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   home dev
     <add name="AnewLuvFTSEntities" connectionString="metadata=res://*/Models.DatingModel.csdl|res://*/Models.DatingModel.ssdl|res://*/Models.DatingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.200;initial catalog=AnewLuvFTS;persist security info=True;user id=sa;password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="AnewLuvLogEntities" connectionString="metadata=res://*/Models.LoggerModel.csdl|res://*/Models.LoggerModel.ssdl|res://*/Models.LoggerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NMEDIASQL02;initial catalog=AnewLuvLog;persist security info=True;user id=sa;password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

   devleopment from Medtox at work
    <add name="AnewLuvFTSEntities" connectionString="metadata=res://*/Models.DatingModel.csdl|res://*/Models.DatingModel.ssdl|res://*/Models.DatingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MTXD112937;Initial Catalog=AnewLuvFTS;User ID=anewluv;Password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AnewLuvLogEntities" connectionString="metadata=res://*/Models.LoggerModel.csdl|res://*/Models.LoggerModel.ssdl|res://*/Models.LoggerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MTXD112937;Initial Catalog=AnewLuvFTS;User ID=anewluv;Password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


   -->
    <add name="AnewLuvFTSEntities" connectionString="metadata=res://*/Models.DatingModel.csdl|res://*/Models.DatingModel.ssdl|res://*/Models.DatingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.200;initial catalog=AnewLuvFTS;persist security info=True;user id=sa;password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AnewLuvLogEntities" connectionString="metadata=res://*/Models.LoggerModel.csdl|res://*/Models.LoggerModel.ssdl|res://*/Models.LoggerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NMEDIASQL02;initial catalog=AnewLuvLog;persist security info=True;user id=sa;password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="AnewLuvFTSEntities" connectionString="metadata=res://*/Models.DatingModel.csdl|res://*/Models.DatingModel.ssdl|res://*/Models.DatingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.200;initial catalog=AnewLuvFTS;persist security info=True;user id=sa;password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PostalData2Entities" connectionString="metadata=res://*/Models.PostalDataModel.csdl|res://*/Models.PostalDataModel.ssdl|res://*/Models.PostalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.200;initial catalog=PostalData2;persist security info=True;user id=sa;password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="AspNetSqlConnection" providerName="System.Data.SqlClient" connectionString="Data 
      Source=LUKAS-PC;User ID=LUKAS-PC\lukas;Initial Catalog=aspnetdb;Integrated Security=SSPI" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AKISMET_KEY" value="2e849dc20b2d" />
    <add key="AKISMET_DOMAIN" value="http://XXX" />
  </appSettings>
  <system.web>
    <!-- toggle when no access to app fabric avialable ( TO DO expose an appfabric box over the net , or purchase one )-->
    <!--<sessionState mode="Custom" customProvider="AppFabricCacheSessionStoreProvider">
      <providers>
        -->
    <!-- specify the named cache for session data -->
    <!--
        <add name="AppFabricCacheSessionStoreProvider" type="Microsoft.ApplicationServer.Caching.DataCacheSessionStoreProvider" cacheName="AnewLuv" />
      </providers>
    </sessionState>-->
    <!-- The request length is in kilobytes, execution timeout is in seconds  -->
    <httpRuntime maxRequestLength="10240" executionTimeout="120" />
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.ApplicationServer.Caching.Client,Version=1.0.0.0,Culture=neutral,PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <!--   <forms loginUrl="~/Account/LogOn" timeout="1200" name=".SHell_ASPXAUTH" protection="Encryption" />   -->
      <forms loginUrl="~/Account/LogOn" timeout="1200" name=".SHell_ASPXAUTH" protection="Encryption" defaultUrl="~/Account/LogOff" />
    </authentication>
    <!--
    ******* Please Read if Editing the Web COnfig **************************  Ola Lawal 12/3/2010
    Very important, since we use a custom membership provider in our RIA layer, this is where we intsantiate it for use
    p.s the namespace i.e strong TYPE is based on the type declaration in the RIA , the next value is the hosting project name i.e
    Dating.Server.Data.Web  We can attach more properties to the the user ticket , right now we are only adding UserName and ScreenName
    those values are added in the RIA layer during logon authenticatication process, in the future we might need to add roles to this as well.
    -->
    <membership defaultProvider="AnewLuvFTSEntities">
      <providers>
        <clear />
        <add name="AnewluvFTSEntities" type="Dating.Server.Data.Services.AnewLuvMembershipProvider,Dating.Server.Data.Web" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AnewLuvFTSEntities">
      <providers>
        <clear />
        <add name="AnewluvFTSEntities" type="Dating.Server.Data.Services.AnewLuvRoleProvider,Dating.Server.Data.Web" />
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="AnewLuvFTSEntities">
      <providers>
        <clear />
        <add name="AnewLuvFTSEntities" type="Dating.Server.Data.Services.AnewluvAuthenticationDomainService,Dating.Server.Data.Web" />
      </providers>
      <properties>
        <add name="Username" type="System.String" />
        <add name="ScreenName" type="System.String" />
      </properties>
    </profile>
    <!--
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MvcContrib.UI" />
        <add namespace="MvcContrib.UI.Html" />
        <add namespace="MvcContrib" />
        <add namespace="MvcContrib.Filters" />
        <add namespace="Shell.MVC2.Helpers" />
        <add namespace="Telerik.Web.Mvc.UI" />
        <add namespace="Omu.Awesome.Core" />
        <add namespace="Omu.Awesome.Mvc.Helpers" />
        <add namespace="ActionMailer.Net" />
        <add namespace="ActionMailer.Net.Mvc" />
        <add namespace="Dating.Server.Data" />
        <add namespace="Shell.MVC2.Controllers" />
        <add namespace="Shell.MVC2.Infrastructure" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </httpHandlers>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="192.168.0.114" port="25" userName="AnewLuvDoNotReply@nmedia.com" password="kayode02" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <!-- added header to froce compatiblity mode only works in IIS 7.0+ , temporary fix until i.9 is fully updated-->
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <security>
      <requestFiltering>
        <!-- The content length is in bytes  -->
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="asset" />
      <add name="jpg hanlder" path="*.jpg" verb="*" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode" />
      <add name="gif hanlder2" path="*.gif" verb="*" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode" />
      <add name="jpeg handler" path="*.jpeg" verb="*" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode" />
      <add name="images" path="*.png" verb="*" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode" />
      <add name="Cssfiles" path="*.css" verb="*" type="System.Web.StaticFileHandler" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode" />
      <add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <telerik>
    <webAssets useTelerikContentDeliveryNetwork="false" />
  </telerik>
  <!-- Web  Service Client References-->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    <diagnostics wmiProviderEnabled="true" performanceCounters="ServiceOnly">
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior name="HelpBehavior">
          <webHttp helpEnabled="true" defaultBodyStyle="Bare" automaticFormatSelectionEnabled="true" faultExceptionEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <!-- needed for client to know what to do-->
        <behavior name="webhttp">
          <webHttp faultExceptionEnabled="true" defaultBodyStyle="Bare" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingShell" closeTimeout="00:03:00"
          openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="soap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="soap1" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webBinding" closeTimeout="00:03:00" openTimeout="00:05:00"
          receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="true"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Streamed" useDefaultWebProxy="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
          </security>
        </binding>
        <binding name="webBindingSSL" closeTimeout="00:03:00" openTimeout="00:05:00"
          receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="true"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Streamed" useDefaultWebProxy="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Shell.MVC2.Web.AuthenticationService/MembershipService.svc/Rest"
        behaviorConfiguration="HelpBehavior" binding="webHttpBinding"
        bindingConfiguration="webBinding" contract="Shell.MVC2.Services.Contracts.IAuthenticationService"
        name="webHttpBinding_IAuthenticationService" />
      <endpoint address="http://localhost/Shell.MVC2.Web.MediaService/PhotoService.svc/Rest"
        behaviorConfiguration="HelpBehavior" binding="webHttpBinding"
        bindingConfiguration="webBinding" contract="Shell.MVC2.Services.Contracts.IPhotoService"
        name="webHttpBinding_IPhotoService" />
      <endpoint address="http://localhost/Shell.MVC2.Web.GeoService/GeoService.svc/Rest"
        behaviorConfiguration="HelpBehavior" binding="webHttpBinding"
        bindingConfiguration="webBinding" contract="Shell.MVC2.Services.Contracts.IGeoService"
        name="webHttpBinding_IGeoService" />
      <endpoint address="http://localhost/Shell.MVC2.Web.MembersService/MembersService.svc/rest"
        behaviorConfiguration="HelpBehavior" binding="webHttpBinding"
        bindingConfiguration="webBinding" contract="Shell.MVC2.Services.Contracts.IMemberService"
        name="webHttpBinding_IMemberService" />
      <endpoint address="http://localhost/Shell.MVC2.Web.MembersService/MembersMapperService.svc/rest"
        behaviorConfiguration="HelpBehavior" binding="webHttpBinding"
        bindingConfiguration="webBinding" contract="Shell.MVC2.Services.Contracts.IMembersMapperService"
        name="webHttpBinding_IMembersMapperService" />
      <endpoint address="http://localhost/Shell.MVC2.Web.MemberActionService/MemberActionsService.svc/rest"
        behaviorConfiguration="HelpBehavior" binding="webHttpBinding"
        bindingConfiguration="webBinding" contract="Shell.MVC2.Services.Contracts.IMemberActionsService"
        name="webHttpBinding_IMemberActionsService" />
      <endpoint address="http://localhost/Shell.MVC2.Web.NotificationService/errorNotificationService.svc/Rest"
        behaviorConfiguration="HelpBehavior" binding="webHttpBinding"
        bindingConfiguration="webBinding" contract="Shell.MVC2.Services.Contracts.IErrorNotificationService"
        name="webHttpBinding_IErrorNotificationService" />
      <endpoint address="http://localhost/Shell.MVC2.Web.LoggingService/ErrorLoggingService.svc/Rest"
        behaviorConfiguration="HelpBehavior" binding="webHttpBinding"
        bindingConfiguration="webBinding" contract="Shell.MVC2.Services.Contracts.IErrorLoggingService"
        name="webHttpBinding_IErrorLoggingService" />
      <endpoint address="http://localhost/Shell.MVC2.Web.UpdateService/UserRepairService.svc/rest"
        behaviorConfiguration="HelpBehavior" binding="webHttpBinding"
        bindingConfiguration="webBinding" contract="Shell.MVC2.Services.Contracts.IUserRepairService"
        name="webHttpBinding_IUserRepairService" />
      <endpoint address="http://localhost/Shell.MVC2.Web.NotificationService/InfoNotificationService.svc/Soap"
        binding="basicHttpBinding" bindingConfiguration="soap1" contract="ServiceReference1.IInfoNotificationService"
        name="soap" />
    </client>
  </system.serviceModel>
</configuration>