<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>

    <add name="AnewLuvFTSEntities" 
         connectionString="metadata=res://*/Models.DatingModel.csdl|res://*/Models.DatingModel.ssdl|res://*/Models.DatingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.112;initial catalog=AnewLuvFTS;persist security info=True;user id=sa;password=nimda2004tn!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="AnewLuvLogEntities" connectionString="metadata=res://*/Models.LoggerModel.csdl|res://*/Models.LoggerModel.ssdl|res://*/Models.LoggerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.112;initial catalog=AnewLuvLog;persist security info=True;user id=sa;password=nimda2004tn!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="LoggingConnectionString" connectionString ="Data Source=192.168.0.112;Initial Catalog=AnewLuvLog;User ID=sa;Password=nimda2004tn!;Persist Security Info=True"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="PostalData2Entities" connectionString="metadata=res://*/Models.PostalDataModel.csdl|res://*/Models.PostalDataModel.ssdl|res://*/Models.PostalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.112;initial catalog=PostalData2;persist security info=True;user id=sa;password=nimda2004tn!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" 
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  
  
</configuration>