<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonInstanceFactory" version="1.0.0.0" requireReinstallation="True" />
  <package id="CommonInstanceFactory.Adapters.Ninject" version="1.0.0.0" requireReinstallation="True" />
  <package id="CommonInstanceFactory.Extensions.Wcf" version="1.0.0.0" requireReinstallation="True" />
  <package id="CommonInstanceFactory.Extensions.Wcf.Ninject" version="1.0.0.0" requireReinstallation="True" />
  <package id="Ninject" version="3.0.1.10" requireReinstallation="True" />
</packages>