@charset "utf-8";

body {
	background-color: #fff;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 525px;
}
#matchbox {
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 523px;
	padding-top: 0px;
	height: 199px;
}
html > body #matchbox {
	height: auto;
	min-height: 198px;
}
#colwrap2 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 109px;
}
#PhotoContent {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 107px;
	padding-top: 0px;
	height: 197px;
}
html > body #PhotoContent {
	height: auto;
	min-height: 196px;
}
#picFrame {
	margin-left: 4px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #666;
	width: 100px;
	padding-top: 0px;
	height: 101px;
}
html > body #picFrame {
	height: auto;
	min-height: 100px;
}
#picInner {
	margin-left: 2px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #picInner {
	height: auto;
	min-height: 94px;
}
#colwrap3 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 364px;
}
#content {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 362px;
	padding-top: 0px;
	height: 197px;
}
html > body #content {
	height: auto;
	min-height: 196px;
}
.Txt_Lorem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 20px;
	margin-top: 5px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 336px;
}
#icons {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 48px;
	padding-top: 0px;
	height: 197px;
}
html > body #icons {
	height: auto;
	min-height: 196px;
}
