@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#headerSiteMapDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 1022px;
	padding-top: 0px;
	height: 114px;
}
html > body #headerSiteMapDiv {
	height: auto;
	min-height: 0px;
}
#header2SiteMapDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: none;
	width: 1022px;
	padding-top: 0px;
	height: 87px;
}
html > body #header2SiteMapDiv {
	height: auto;
	min-height: 25px;
}
.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 250%;
	font-weight: bold;
	text-align: center;
	color: #115eb2;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-top: 0px;
	display: inline;
	float: left;
	padding-right: 300px;
	padding-left: 426px;
}
#leftSiteMapDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 199px;
	padding-top: 0px;
	height: 299px;
}
html > body #leftSiteMapDiv {
	height: auto;
	min-height: 298px;
}
#BodySiteMapDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 620px;
	padding-top: 0px;
	height: 299px;
}
html > body #BodySiteMapDiv {
	height: auto;
	min-height: 300px;
}
#roundTopSiteMapDiv{
	margin-left: 10px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #0f6ffe;
	width: 598px;
	padding-top: 0px;
	height: 99px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #0f6ffe;
	border-right-color: #0f6ffe;
	border-bottom-color: #0f6ffe;
	border-left-color: #0f6ffe;
}
html > body #roundTopSiteMapDiv {
	height: auto;
	min-height: 52px;
}
.Txt_Single {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 210%;
	font-weight: bold;
	text-align: center;
	color: #fff;
	line-height: 120%;
	display: inline;
	float: left;
	margin: 0;
	clear: none;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 180px;
}
#roundBotttomSiteMapDiv {
	margin-left: 10px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #0f6ffe;
	width: 598px;
	padding-top: 0px;
	height: 153px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
html > body #roundBotttomSiteMapDiv {
	height: auto;
	min-height: 0px;
}

.Txt_MillionaerTreff {
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #115eb2;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 5px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 111px;
}
.Txt_Die {
	font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: left;
	color: #115eb2;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 2px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 388px;
}
.inSiteMapDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 596px;
	padding-top: 0px;
	height: 49px;
	border: 1px none #000;
}
html > body .inSiteMapDiv {
	height: auto;
	min-height: 48px;
}
#rightSiteMapDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 199px;
	padding-top: 0px;
	height: 299px;
}
html > body #rightSiteMapDiv {
	height: auto;
	min-height: 298px;
}
#footerSiteMapDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 1022px;
	padding-top: 0px;
	height: 0px;
}
html > body #footerSiteMapDiv {
	height: auto;
	min-height: 30px;
}
#roundBotttomSiteMapDiv a{
	color:#0f6ffe;
	
}
#roundBotttomSiteMapDiv a:hover{
	color:#F0F;
}
.titlelink{
	color:
	#F0f;
}
#roundTopSiteMapDiv .lastNode{
	text-shadow:1px 4px 5px
	#000;
}
#roundTopSiteMapDiv{
background:#ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iIzQ5OTFmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzM3ODdmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iIzQ5OTFmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #4991fe 26%, #3787fe 49%, #4991fe 74%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(26%,#4991fe), color-stop(49%,#3787fe), color-stop(74%,#4991fe), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#4991fe 26%,#3787fe 49%,#4991fe 74%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#4991fe 26%,#3787fe 49%,#4991fe 74%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#4991fe 26%,#3787fe 49%,#4991fe 74%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top,  #ffffff 0%,#4991fe 26%,#3787fe 49%,#4991fe 74%,#ffffff 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */


}
/*.lastNode{
	text-align:center;
}*/
