<!DOCTYPE HTML>
<!-- saved from url=(0014)about:internet -->
<html>
<head>
<title>anewluvEmail template</title>
<meta charset="utf-8">
<!--Fireworks CS5 Dreamweaver CS5 target.  Created Tue Apr 03 19:12:07 GMT-0500 (Central Daylight Time) 2012-->
<style>
td.content{ font-size:95%;
}
caption{
	color:#0c52b2 !important;	
}
a:link{
	color:#0c52b2 !important;
	
}
a:hover{
	/*color:#F3F !important*/;
	text-decoration:none; 
}
</style>
</head>
<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased;width:100% !important;background:#ffffff;-webkit-text-size-adjust:none;">

<table  align="center"width="600" border="0" cellspacing="0" cellpadding="10" summary="Anewluv.com Email and matches">
  <caption class="">
    Email from AnewLuv.com 
  </caption>
      <tr>
    <td colspan="2"  valign="middle" style="border: 1px solid #6bb5ff; -webkit-border-top-left-radius: 8px;-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;-moz-border-radius-topright: 8px;
border-top-left-radius: 8px;border-top-right-radius: 8px; color:#0c52b2;
font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;font-size: 75%;text-align: left;color: #0c52b2;line-height: %;">
				<p class="lastNode"><a href="#">View in Web Browser</a>    <a href="@Url.AbsoluteAction("Account", "Account",null)"> Unsubscribe</a> <br>To ensure e-mail delivery, please add admin@anewluv.com to your address book.
			</p></td>
    
  </tr>
  <tr>
    <td   style="border-left-color: #6bb5ff; border-bottom-color: #6bb5ff; border-right-color: #6bb5ff; border-top-color: #6bb5ff; border-left-style: solid; border-bottom-style: solid; border-right-style: none; border-top-style: solid; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-top-width: 1px; color:#0c52b2;" ><a href="http://www.anewluv.com/Account/LogOn">  <img src="http://www.Anewluv.com/content/images/anewluv.jpg" width="203" height="44" alt="AnewlLuv.com"/></a></td>
    <td  class="link" style="border-left-color: #6bb5ff; border-bottom-color: #6bb5ff; border-right-color: #6bb5ff; border-top-color: #6bb5ff; border-left-style: none; border-bottom-style: solid; border-right-style: solid; border-top-style: solid; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-top-width: 1px; font-family: Verdana, Arial, Helvetica, sans-serif;font-size:80%;font-weight: bold;text-align: right;
color: #0c52b2;" ><a href="@Url.AbsoluteAction("MembersHome", "Members",null)" class="a_View_more_Matches">
				View more Matches &gt;&gt;
	</a></td>
  </tr>
  </table>
  
  @RenderBody()

  
    
 
 




<table  align="center"width="600" border="0" cellspacing="0" cellpadding="10">
<tr>
    <td colspan="2" style="border: 1px solid #6bb5ff; -webkit-border-bottom-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px; color:#0c52b2; font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;font-size: 70%;
	text-align: left;color: #0c52b2;"  >
    <p class="lastNode">You are receiving this email because you are a registered anewluv.com dating site subscriber. You have agreed under member terms and conditions to accept emails from our service regarding offers and service updates.<br>You can change your email delivery options or unsubscribe at anytime if you <a href="#">click here</a> and follow the instructions. Or log into your account and click on &ldquo;Account settings&rdquo; and follow the prompts.<br>
			</p></td>
    
  </tr>
</table>

</body>
</html>