<!DOCTYPE html>

 

<html>
<head>

 <title>@ViewBag.Title</title>

@(
Html.Telerik().StyleSheetRegistrar() 
	 .DefaultGroup(group => group.Add("telerik.common.css") 
					 .Add("telerik.vista.css")) 
)

	
  
   
<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
<link rel="icon"  href="../../favicon.ico" type="image/x-icon" />
	
<link href="@Url.Content("~/Content/css/redmond/jquery-ui-1.8.18.custom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/ProfileEditQuik.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/Content/inbox.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/Content/AccountSettings page.css")" rel="stylesheet" type="text/css" />
   <link href="@Url.Content("~/Content/Awesome.css")" rel="stylesheet" type="text/css" />   
@*<link href="@Url.Content("~/Chat.css")" rel="stylesheet" type="text/css" />*@
<link href="@Url.Content("~/Chat.dictionary.css")" rel="stylesheet" type="text/css" /> 
<link href= "@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" /> 
  @* added stuff to fully implement jabra chat and then plans to redesign *@
  <link href="@Url.Content("~/Content/KeyTips.css")"  rel="stylesheet" type="text/css" />
 <link href="@Url.Content("~/Content/bootstrap/bootstrap.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/Content/emoji20.css")" rel="stylesheet" type="text/css" />

	 @* kelly chat test stuff *@ 
  <link href="@Url.Content("~/Content/ChatKellyTest.css")" rel="stylesheet" type="text/css" />
  
<link href="@Url.Content("~/Content/Link directory.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/advanced customize search.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/masterPage.css")" rel="stylesheet" type="text/css" />

@* addeded pages from normal site page *@

		<link href="@Url.Content("~/Content/activationpage.css")"  rel="stylesheet" type="text/css"  media="all" />
	   <link href="@Url.Content("~/Content/registration.css")" rel="stylesheet" type="text/css"  media="all" />
		<link href="@Url.Content("~/Content/LogIn.css")" rel="stylesheet" type="text/css"  media="all" />
		   <link href="@Url.Content("~/Content/login_page.css")" type="text/css"  media="all" />

<!-- new stuff verify it don't break other pages -->
<link href="@Url.Content("~/Content/Homepage2.css")" rel="stylesheet" type="text/css" />
<!-- figure out why these 3 css break the Ui-->
<link href="@Url.Content("~/Content/sendmessage.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/PhotoEditQuik.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/ReadMessage.css")" rel="stylesheet" type="text/css" />

 
<link href="@Url.Content("~/Content/quick Profile page.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/gallerypage2.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Interests.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Who_Likes_Me!.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Who'sLookingforMe!.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Who I_LIke!.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Who Took a Peek!.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/similiar.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/QuickSearch_ page.css")" rel="stylesheet" type="text/css" />       
   

  
<link href="@Url.Content("~/Content/MyQuikStatsAppearance page.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/MyQStatEditlifestyle page.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/MyQuikStatsEditsCharacter page.css")" rel="stylesheet" type="text/css" /> 

 
 <link href="@Url.Content("~/Content/SavedSearches.css")" rel="stylesheet" type="text/css" />
 <link href="@Url.Content("~/Content/My Quik Stats About Me page.css")" rel="stylesheet" type="text/css" />
 <link href="@Url.Content("~/Content/underconstruction.css")" rel="stylesheet" type="text/css" />


  <link href="@Url.Content("~/Content/ReadMessage.css")" rel="stylesheet" type="text/css" />

		<!--end of mailbox stuff-->   

<link href="@Url.Content("~/Content/InterestSent.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/SavedSearches.css")" rel="stylesheet" type="text/css" />
 <link href="@Url.Content("~/Content/Awesome.css")" rel="stylesheet" type="text/css" />   
	
	 
	
	 <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
	  <script src="@Url.Content("~/Scripts/js/jquery-ui-1.8.18.custom.min.js")" type="text/javascript"></script>
  
  @* microsoft scripts added 4/1/2012 *@
	   <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
	   <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")"  type="text/javascript"></script>
	   <script src="@Url.Content("~/Scripts/MicrosoftMvcValidation.js")" type="text/javascript"></script>
       @* added extention for linq functionality from Magenic *@
          <script src="@Url.Content("~/Scripts/linq.js")" type="text/javascript"></script>


  @* <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>*@
	 <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
	 <script src="@Url.Content("~/Scripts/json2.min.js")" type="text/javascript"></script>
	 <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
	 <script src="@Url.Content("~/Scripts/Awesome.js")" type="text/javascript"></script>
	 <script src="@Url.Content("~/Scripts/jquery.url.js")" type="text/javascript"></script>
	  <!-- Used for SignalR -->
	 <script src="@Url.Content("~/Scripts/jquery.signalR.min.js")" type="text/javascript">
	 </script><script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

	 









  <!-- google anyltics -->
	<script type="text/javascript">

	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-15173371-2']);
	    _gaq.push(['_trackPageview']);

	    (function () {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();

</script>



@RenderSection("head",false)
</head> 



<body class="@Html.BodyCssStyle()">
<div id="mainmasterpage">



	<div id="headerDivmasterpage">
		
		@if (Request.IsAuthenticated)
		{ 
		<a href="#" class="Link">
		  @Html.ActionLink("Logout", "LogOff", "Account", null, new { @class = "Link" })
		</a>
		}
		else
		{    <a href="#" class="Link">	
			   @Html.ActionLink("Sign In","LogOn", "Account" , null, new { @class = "Link" }) 
		</a>
		}
		
		@*To DO add chat online if a rep is online*@
	 
		<a >
		 @Html.ActionLink("Help", "ContactUs", "Home", null, new { @class = "Link2" })
		</a>


		@if (Request.IsAuthenticated)
		{          
		<a href="#" >
			 @Html.ActionLink("My Account", "Account", "Account", null, new { @class = "Link3" })
		</a>
		}
		else
		{
		  <a href="#" >
			@Html.ActionLink("Suscribe","Register", "Account" , null, new { @class = "Link4" })
		</a>
		}
  
		<div class="clearFloat"></div>
		<div class="Txt_Hi">
		@if (Request.IsAuthenticated)
		{ 
	   
				 <text>Hi <strong>@User.Identity.Name</strong>!</text> 
	
		}
	 else
	 {
		 <p class="lastNode">Welcome Guest
	   </p>
	 }
		

				
		</div>
		
		@if (Request.IsAuthenticated)
		{ 
		<a href="#" class="Link5">
			   @Html.ActionLink("My Profile", "MembersHome", "Members", null, new { @class = "Link5" })
		</a>
		}
		else
		{
		  <a href="#" class="Link5">	
			   @Html.ActionLink("My Profile","LogOn", "Account" , null, new { @class = "Link5" }) 
		</a>
		}
		
		
		<a href="#" class="Link6">
		 @Html.ActionLink("Who Took a Peek!", "WhoViewedMe", "Members", null, new { @class = "Link6" })
			
		</a>
		<a href="#" class="Link7">
		 @Html.ActionLink("Who I Like!", "WhoILike", "Members", null, new { @class = "Link7" })
			
		</a>
		<a href="#" class="Link8">
		 @Html.ActionLink("Who Likes Me!", "WhoLikesMe", "Members", null, new { @class = "Link8" })
			
		</a>
		<a>
	   @Html.ActionLink("Mail", "MailHome", "Mail", null, new { @class = "Link9" })
		</a>

		<a href="#" class="Link10">
		@Html.ActionLink("Search", "Underconstruction", "Members", null, new { @class = "Link10" })
		</a>

		@if (Request.IsAuthenticated)
		{
			
		<a href="#" class="Link11">
			 @Html.ActionLink("Members", "MembersHome", "Members", null, new { @class = "Link11" })
		</a>
		}
		else
		{
				  
		 <a href="#" class="Link11">
			  @Html.ActionLink("Home", "SplashPage", "Home", null, new { @class = "Link11" })
		</a>
		}
		

	</div>
	<div class="clearFloat"></div>

   
	<div id="bodyDivmaster">

  @* allow the testing of chat in the case we are idsconnected or in debug mode *@
  @if( Html.IsDisconected()) {  
       <a href="javascript:void(0)" Id="InviteToChat" data-name='case'>Chat test</a> 
  }    
      


	@RenderBody()
	</div>
	<div class="clearFloat"></div>
	
	<div id="footerDivmasterpage">
		<ul class="symbolListmasterpage">
			<li id="List_Itemmasterpage">
				<a href="#">About anewluv.com</a>
			</li>
				<li id="List_Itemmasterpage2">
				<a href="#">Terms of Use</a>
			</li>
				<li id="List_Itemmasterpage3">
			 @Html.ActionLink("Contact Us", "ContactUs", "Home", null, new { @class = "List_Itemmasterpage3" })
				
			</li>
				<li id="List_Itemmasterpage4">
				<a href="#">Your Privacy</a>
			</li>
				<li id="List_Itemmasterpage5">
				 @Html.ActionLink("Advertise on Anewluv.com", "ContactUs", "Home", null, new { @class = "List_Itemmasterpage5" })
				
			</li>
				<div class="clearFloat"></div>
		<li id="List_Itemmasterpage6">
				<a href="#">Media Room</a>
			</li>
				<li id="List_Itemmasterpage7">
				@Html.ActionLink("Help", "ContactUs", "Home", null, new { @class = "List_Itemmasterpage7" })
				
			</li>
				<li id="List_Itemmasterpage8">
				<a href="#">FAQ</a>
			</li>
	</ul>
				<li id="List_Itemmasterpage9">
				<a href="#">Site Map</a>
			</li>
				<li id="List_Itemmasterpage10">
				<a href="#">Promotions and Sponorships</a>
			</li>
				<div class="clearFloat"></div>
		<li id="List_Itemmasterpage11">
				<a href="#">Testimonials</a>
			</li>
				<li id="List_Itemmasterpage12">
				<a href="#">Forums</a>
			</li>
				<li id="List_Itemmasterpage13">
				@Html.ActionLink("Suggestions", "ContactUs", "Home", null, new { @class = "List_Itemmasterpage13" })
				
			</li>
				<li id="List_Itemmasterpage14">
				<a href="#">Coming Features</a>
			</li>
				<li id="List_Itemmasterpage15">
			   @Html.ActionLink("Community Connections", "CommunityConnections", "Home", null, new { @class = "List_Itemmasterpage15" })
			</li>
				<div class="clearFloat"></div>
	</div>
	<div class="clearFloat"></div>
</div>


					   
		   <!-- chat test stuff --->  
		   <!-- Jquery UI--->  

           
	 <!-- stuff pulled from jabra chat ,dependencies -->
	 @* twitter boot strap dependencies *@
	 <script src="@Url.Content("~/Scripts/bootstrap/bootstrap.min.js")"  type="text/javascript"></script>	
	@* end of twitter bootstrap scritps *@


           	 <script src="@Url.Content("~/Scripts/jquery.KeyTips.js")"  type="text/javascript"></script>
	 <script src="@Url.Content("~/Scripts/modernizr.js")" type="text/javascript"></script>
	 <script src="@Url.Content("~/Scripts/jQuery.tmpl.js")" type="text/javascript"></script>
	 <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>    
	 <script src="@Url.Content("~/Scripts/jquery.autotabcomplete.js")"  type="text/javascript"></script>
	 <script src="@Url.Content("~/Scripts/quicksilver.js")" type="text/javascript"></script>
	 <script src="@Url.Content("~/Scripts/jquery.livesearch.js")"  type="text/javascript"></script>
  

	 <script src="@Url.Content("~/Scripts/jquery.timeago.0.10.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.captureDocumentWrite.min.js")"  type="text/javascript"></script>
	<script  src="@Url.Content("~/Scripts/jquery.sortElements.js")"  type="text/javascript"></script>
   @*  <script src="@Url.Content("~/Scripts/Markdown.Converter.js")"  type="text/javascript"></script>*@
	<script src="@Url.Content("~/Scripts/jquery.history.js")"   type="text/javascript"></script>

 
  <script src="@Url.Content("~/Chat.utility.js")" type="text/javascript"></script>
 <script src="@Url.Content("~/Chat.emoji.js")" type="text/javascript"></script>
 <script src="@Url.Content("~/Chat.toast.js")" type="text/javascript"></script>
 <script src="@Url.Content("~/Chat.ui.js")" type="text/javascript"></script>
 <script src="@Url.Content("~/Chat.documentOnWrite.js")" type="text/javascript"></script>
 <script src="@Url.Content("~/Chat.pinnedWindows.js")" type="text/javascript"></script>
 <script src="@Url.Content("~/Chat.js")" type="text/javascript"></script>
 <script src="@Url.Content("~/Scripts/custom/Shared.js")" type="text/javascript"></script>

 

	 @(Html.Telerik().ScriptRegistrar().jQuery(false) )		
</body>
</html>
