@model Shell.MVC2.Models.PhotoViewModel

@section TitleContent {

    PhotoEditQuick

}



<div id="main">
	<div id="headerPhotoEditsDiv">
	</div>
	<div class="clearFloat"></div>
	<div id="header2PhotoEditsDiv">
		<div class="My_Quik_Stats_EditsaboutEditPhotoEditsDiv">
			
				<p class="lastNode">My Quik Stats Edits
			</p>
		</div>
		<div class="clearFloat"></div>
	</div>
	<div class="clearFloat"></div>
	<div id="leftPhotoEditsDiv">
	</div>
	<div id="bodyPhotoEditsDiv">
		<div id="PhotoEditsDivBox3SliceContainer">
			<div id="PhotoEditsDivBox3SliceContainer_top_1">
			</div>
			<div id="PhotoEditsDivcolwrap4">
				<div id="mainPhotoPhotoEditsDiv">
				</div>
				<p id="CheckBox_win_Make_PrimaryPhotoEditsDiv"><label><input type="checkbox" name="CheckBox(win)Make_PrimaryPhotoEditsDiv" value="Make Primary"/>Make Primary</label></p>
								<p id="CheckBox_win_Delete1PhotoEditsDiv"><label><input type="checkbox" name="CheckBox(win)Delete1PhotoEditsDiv" value="Delete"/>Delete</label></p>
							</div>
			<div id="PhotoEditsDivcolwrap5">
				<div class="Write_Cool_CaptionPhotoEditsDiv">
					
						<p class="lastNode">Write Cool Caption
					</p>
				</div>
				<input type="text" name="TextField_win_CaptionPhotoEditsDiv" id="TextField_win_CaptionPhotoEditsDiv" value="Text" />
								<div id="uploadPhotoEditsDiv">
				</div>
				<div id="uploadButtonPhotoEditsDiv">
				</div>
			</div>
			<div id="PhotoEditsDivcolwrap6">
				<div id="btnBrowsePhotoEditsDiv">
				</div>
				<div class="clearFloat"></div>
				<div class="Select_AllPhotoEditsDiv">
					
						<p class="lastNode">Select All
					</p>
				</div>
				<div class="clearFloat"></div>
			</div>
			<div id="pic4PhotoEditsDiv">
			</div>
			<div id="pic3PhotoEditsDiv">
			</div>
			<div id="pic2PhotoEditsDiv">
			</div>
			<div id="pic1PhotoEditsDiv">
			</div>
			<div class="clearFloat"></div>
			<p id="CheckBox_win_Delete5PhotoEditsDiv"><label><input type="checkbox" name="CheckBox(win)Delete5PhotoEditsDiv" value="Delete"/>Delete</label></p>
						<p id="CheckBox_win_Delete4PhotoEditsDiv"><label><input type="checkbox" name="CheckBox(win)Delete4PhotoEditsDiv" value="Delete"/>Delete</label></p>
						<p id="CheckBox_win_Delete3PhotoEditsDiv"><label><input type="checkbox" name="CheckBox(win)Delete3PhotoEditsDiv" value="Delete"/>Delete</label></p>
						<p id="CheckBox_win_Delete2PhotoEditsDiv"><label><input type="checkbox" name="CheckBox(win)Delete2PhotoEditsDiv" value="Delete"/>Delete</label></p>
						<div class="clearFloat"></div>
			<div id="pic7PhotoEditsDiv">
			</div>
			<div id="pic6PhotoEditsDiv">
			</div>
			<div id="pic5PhotoEditsDiv">
			</div>
			<div class="clearFloat"></div>
			<div class="Full_EditPhotoEditsDiv">
				
					<p class="lastNode">Full Edit
				</p>
			</div>
			<div class="Delete_AllPhotoEditsDiv">
				
					<p class="lastNode">Delete All
				</p>
			</div>
			<p id="CheckBox_win_Delete8PhotoEditsDiv"><label><input type="checkbox" name="CheckBox(win)Delete8PhotoEditsDiv" value="Delete"/>Delete</label></p>
						<p id="CheckBox_win_Delete7PhotoEditsDiv"><label><input type="checkbox" name="CheckBox(win)Delete7PhotoEditsDiv" value="Delete"/>Delete</label></p>
						<p id="CheckBox_win_Delete6PhotoEditsDiv"><label><input type="checkbox" name="CheckBox(win)Delete6PhotoEditsDiv" value="Delete"/>Delete</label></p>
						<div id="finishButtonPhotoEditsDiv">
			</div>
		<div id="PhotoEditsDivBox3SliceContainer_bottom_1">
		</div>
		</div>
		<div class="clearFloat"></div>
	</div>
	<div id="righPhotoEditsDiv">
	</div>
	<div class="clearFloat"></div>
	<div id="footerPhotoEditsDiv">
	</div>
	<div class="clearFloat"></div>
</div>



