@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error"; 
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }

    <h2>
        Sorry, an error occurred while processing your request.
    </h2>


