<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <!-- work-->
    <!--
    <add name="NotificationContext"         providerName="System.Data.SqlClient"       connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=Notification;User ID=sa;password=kayode02;"/>
    <add name="AnewluvContext"  providerName="System.Data.SqlClient"       connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=TestCF;User ID=sa;password=kayode02;"/>
    -->
    <!-- home Dev -->
    <!--
    <add name="NotificationContext"   providerName="System.Data.SqlClient"       connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=Notification;User ID=sa;password=kayode02;"/>
     <add name="AnewluvContext"   providerName="System.Data.SqlClient"  connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=AnewluvTest;User ID=sa;password=kayode02;"/>
   <add name="ChatContext"  providerName="System.Data.SqlClient"       connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=AnewLuvChat;User ID=sa;password=kayode02;"/>

    -->
    <!--Home Prod-->
    <!--
    <add name="NotificationContext"   providerName="System.Data.SqlClient"       connectionString="Server=NMEDIASQL01;Database=Notification;User ID=sa;password=nimda2004tn!;"/>
    -->
    <add name="AnewluvContext"   providerName="System.Data.SqlClient"  connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=AnewluvTest;User ID=sa;password=kayode02;Connect Timeout=120;"/>
    <add name="ChatContext"  providerName="System.Data.SqlClient"       connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=AnewLuvChat;User ID=sa;password=kayode02;"/>


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>