@charset "utf-8";

body {
	background-color: #fff;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
.Txt_Site {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 500%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 336px;
	position: absolute;
	top: 196px;
	margin-bottom: 0;
	width: 370px;
}
#SiteMaintenance {
	left: 244px;
	position: absolute;
	top: 197px;
	background-image: url(SiteMaintenance.gif);
	overflow: hidden;
	height: 442px;
	margin-bottom: 0;
	width: 555px;
}
