@charset "utf-8";

body {
	background-color: #fff;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#headerDiv {
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 1022px;
	padding-top: 0px;
	height: 110px;
	background-image: url(images/headerPngClear.png);
	background-repeat: no-repeat;
	background-position: center;
}
html > body #headerDiv {
	height: auto;
	min-height: 109px;
}
#Link:link, #Link:visited {
	margin-right: 14px;
	margin-top: 60px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link:hover, #Link:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link2:link, #Link2:visited {
	margin-right: 9px;
	margin-top: 60px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link2:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link2:hover, #Link2:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link2:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link3:link, #Link3:visited {
	margin-right: 9px;
	margin-top: 60px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link3:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link3:hover, #Link3:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link3:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link4:link, #Link4:visited {
	margin-right: 9px;
	margin-top: 60px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link4:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link4:hover, #Link4:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link4:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
.Txt_Hi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 16px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#Link5:link, #Link5:visited {
	margin-right: 15px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link5:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link5:hover, #Link5:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link5:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link6:link, #Link6:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link6:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link6:hover, #Link6:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link6:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link7:link, #Link7:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link7:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link7:hover, #Link7:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link7:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link8:link, #Link8:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link8:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link8:hover, #Link8:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link8:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link9:link, #Link9:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link9:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link9:hover, #Link9:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link9:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link10:link, #Link10:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link10:visited {
	color: #551a8b;
	font-weight: bold;
	text-decoration: none;
}
#Link10:hover, #Link10:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link10:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link11:link, #Link11:visited {
	margin-right: 17px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link11:visited {
	color: #551a8b;
	font-weight: bold;
	text-decoration: none;
}
#Link11:hover, #Link11:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link11:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#bodyDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 1022px;
	padding-top: 0px;
	height: 591px;
}
html > body #bodyDiv {
	height: auto;
	min-height: 590px;
}
#colwrap2 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 831px;
}
#postBoardDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 830px;
	padding-top: 0px;
	height: 63px;
	border: 0px none #000;
}
html > body #postBoardDiv {
	height: auto;
	min-height: 62px;
}
#bigBubblesDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 830px;
	padding-top: 0px;
	height: 214px;
	background-image: url(images/bubbleBoxPng.png);
	background-repeat: no-repeat;
	background-position: 3px center;
}
html > body #bigBubblesDiv {
	height: auto;
	min-height: 213px;
}
#colwrap5 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 116px;
}
#photoPlaceDiv {
	margin-left: 20px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #39f;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #photoPlaceDiv {
	height: auto;
	min-height: 94px;
}
#MyProfileDivRight {
	margin-left: 20px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 0px none #000;
	width: 94px;
	padding-top: 0px;
	height: 106px;
}
html > body #MyProfileDivRight {
	height: auto;
	min-height: 105px;
}
#List_Item {
	color: #000;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	margin-left: 1px;
	margin-top: 8px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item :link, #List_Item :visited {
	color: #null;
	font-weight: null;
	text-decoration: null;
}
#List_Item :visited {
	color: #null;
	font-weight: null;
	text-decoration: null;
}
#List_Item :hover, #List_Item :focus {
	color: #null;
	font-weight: null;
	text-decoration: null;
}
#List_Item :active {
	color: #null;
	font-weight: null;
	text-decoration: null;
}
#List_Item2 {
	color: #000;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	margin-left: 0px;
	margin-top: 18px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item2 :link, #List_Item2 :visited {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
#List_Item2 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item2 :hover, #List_Item2 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item2 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item3 {
	color: #000;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	margin-left: 2px;
	margin-top: 6px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item3 :link, #List_Item3 :visited {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
#List_Item3 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item3 :hover, #List_Item3 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item3 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item4 {
	color: #000;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	margin-left: 75px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0px;
}
#List_Item4 :link, #List_Item4 :visited {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
#List_Item4 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item4 :hover, #List_Item4 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item4 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item5 {
	color: #000;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin-left: 80px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#colwrap6 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 135px;
}
#myProfileDivLeft {
	margin-left: 0px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 0px none #000;
	width: 133px;
	padding-top: 0px;
	height: 203px;
}
html > body #myProfileDivLeft {
	height: auto;
	min-height: 202px;
}
#List_Item6 {
	color: #000;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 13px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item6 :link, #List_Item6 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#List_Item6 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item6 :hover, #List_Item6 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item6 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item7 {
	color: #000;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	margin-left: 30px;
	margin-top: 5px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item7 :link, #List_Item7 :visited {
	color: #null;
	font-weight: null;
	text-decoration: null;
}
#List_Item7 :visited {
	color: #null;
	font-weight: null;
	text-decoration: null;
}
#List_Item7 :hover, #List_Item7 :focus {
	color: #null;
	font-weight: null;
	text-decoration: null;
}
#List_Item7 :active {
	color: #null;
	font-weight: null;
	text-decoration: null;
}
#List_Item8 {
	color: #000;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	margin-left: 3px;
	margin-top: 8px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item8 :link, #List_Item8 :visited {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
#List_Item8 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item8 :hover, #List_Item8 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item8 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item9 {
	color: #000;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin-left: 5px;
	margin-top: 8px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item10 {
	color: #000;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	margin-left: 3px;
	margin-top: 8px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item10 :link, #List_Item10 :visited {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
#List_Item10 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item10 :hover, #List_Item10 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item10 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item11 {
	color: #000;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin-left: 11px;
	margin-top: 8px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item12 {
	color: #000;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	margin-left: 3px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item12 :link, #List_Item12 :visited {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
#List_Item12 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item12 :hover, #List_Item12 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item12 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item13 {
	color: #000;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin-left: 8px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item14 {
	color: #000;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	margin-left: 3px;
	margin-top: 6px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item14 :link, #List_Item14 :visited {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
#List_Item14 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item14 :hover, #List_Item14 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item14 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item15 {
	color: #000;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin-left: 38px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item16 {
	color: #000;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	margin-left: 2px;
	margin-top: 6px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item16 :link, #List_Item16 :visited {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
#List_Item16 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item16 :hover, #List_Item16 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item16 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item17 {
	color: #000;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	margin-left: 38px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#colwrap7 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 337px;
}
#infoNavBarDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 0px none #000;
	width: 325px;
	padding-top: 0px;
	height: 38px;
	margin-right: 0px;
}
html > body #infoNavBarDiv {
	height: auto;
	min-height: 37px;
}
#colwrap9 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 100px;
}
#Link12:link, #Link12:visited {
	margin-left: 20px;
	margin-top: 16px;
	display: inline;
	float: left;
	margin-bottom: 0;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: normal;
	text-decoration: none;
}
#Link12:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#Link12:hover, #Link12:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link12:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link13:link, #Link13:visited {
	margin-left: 20px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: normal;
	text-decoration: none;
	width: 82px;
	padding: 0px;
}
#Link13:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#Link13:hover, #Link13:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link13:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link14:link, #Link14:visited {
	margin-left: 20px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: normal;
	text-decoration: none;
}
#Link14:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#Link14:hover, #Link14:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link14:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link15:link, #Link15:visited {
	margin-left: 20px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: normal;
	text-decoration: none;
}
#Link15:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#Link15:hover, #Link15:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link15:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#colwrap10 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 237px;
}
#activityBoxUpperDiv {
	margin-left: 19px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 0px none #000;
	width: 216px;
	padding-top: 0px;
	height: 86px;
}
html > body #activityBoxUpperDiv {
	height: auto;
	min-height: 85px;
}
#Link16:link, #Link16:visited {
	margin-left: 17px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
	color: #6698ff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link16:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#Link16:hover, #Link16:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link16:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item18 {
	color: #000;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	margin-left: 20px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#Link17:link, #Link17:visited {
	margin-left: 17px;
	margin-top: 20px;
	display: inline;
	float: left;
	margin-bottom: 0;
	color: #6698ff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link17:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#Link17:hover, #Link17:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link17:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item19 {
	color: #000;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	margin-left: 13px;
	margin-top: 20px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#Link18:link, #Link18:visited {
	margin-left: 17px;
	margin-top: 18px;
	display: inline;
	float: left;
	margin-bottom: 0;
	color: #6698ff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link18:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#Link18:hover, #Link18:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link18:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link19:link, #Link19:visited {
	margin-left: 114px;
	margin-top: 23px;
	display: inline;
	float: left;
	margin-bottom: 0;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
	text-decoration: none;
}
#Link19:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#Link19:hover, #Link19:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link19:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link20:link, #Link20:visited {
	margin-left: 115px;
	margin-top: 6px;
	display: inline;
	float: left;
	margin-bottom: 0;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
	text-decoration: none;
}
#Link20:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#Link20:hover, #Link20:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link20:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#colwrap10 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 235px;
}
.Txt_QUICK {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #fff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 24px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#ComboBox_win {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 0px;
	margin-top: 13px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
	width: 62px;
}
.Txt_Seeking {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 7px;
	margin-top: 16px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#ComboBox_win_2 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 8px;
	margin-top: 12px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
	width: 62px;
}
.Txt_I’m {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 10px;
	margin-top: 16px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#ComboBox_win_3 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 24px;
	margin-top: 5px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
	width: 51px;
}
.Txt_and {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 11px;
	margin-top: 6px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#ComboBox_win_4 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 6px;
	margin-top: 5px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
	width: 51px;
}
.Txt_Between {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 9px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
.Txt_How {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 30px;
	margin-top: 5px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextField_win {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 9px;
	margin-top: 6px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 42px;
}
.Txt_near {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 10px;
	margin-top: 7px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_ZIPPostal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 30px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	/* [disabled]width: 75px; */
}
#TextField_win_2 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 7px;
	margin-top: 3px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 82px;
}
#CheckBox_win {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	margin-left: 25px;
	margin-top: 10px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#srchNowDiv {
	margin-left: 22px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 80px;
	padding-top: 0px;
	height: 26px;
}
html > body #srchNowDiv {
	height: auto;
	min-height: 25px;
}
#Link21:link, #Link21:visited {
	margin-left: 98px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: bold;
	text-decoration: none;
}
#Link21:visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#Link21:hover, #Link21:focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link21:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#linkAdDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 830px;
	padding-top: 0px;
	height: 27px;
}
html > body #linkAdDiv {
	height: auto;
	min-height: 26px;
}
#picBoxDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 830px;
	padding-top: 0px;
	height: 284px;

	background-image: url(images/photoBoxPng.png)
.png);
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(images/photoBoxPng.png);
}
html > body #picBoxDiv {
	height: auto;
	min-height: 283px;
}
#picDivOuter {
	margin-left: 50px;
	margin-top: 57px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 140px;
	padding-top: 0px;
	height: 167px;
	background-image: url(images/picFrame.png);
	background-repeat: no-repeat;
	background-position: center 4px;
	background-color: #FFF;
}
html > body #picDivOuter {
	height: auto;
	min-height: 168px;
}
#picDivInner {
	margin-left: 20px;
	margin-top: 14px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 2px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #picDivInner {
	height: auto;
	min-height: 94px;
}
.Txt_Name {
	font-family: "Cooper Std Black", "Trebuchet MS", Arial, sans-serif;
	font-size: 150%;
	text-align: center;
	color: #6bd9ff;
	line-height: 120%;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-left: 45px;
	margin-top: -1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	font-weight: bold;
}
.Txt_00- {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 0px;
	padding-top: 1px;
	margin-left: 17px;
	margin-top: -1px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_My {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 16px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-left: 25px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#AdRightDiv {
	margin-left: 0px;
	margin-top: -1px;
	display: inline;
	/* [disabled]float: left; */
	margin-bottom: 0;
	border: 0px none #000;
	width: 190px;
	padding-top: 0px;
	height: 591px;
}
html > body #AdRightDiv {
	height: auto;
	min-height: 590px;
}
#footerDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 1022px;
	padding-top: 0px;
	height: 99px;
}
html > body #footerDiv {
	height: auto;
	min-height: 98px;
}
#List_Item20 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 33px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item20 :link, #List_Item20 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item20 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item20 :hover, #List_Item20 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item20 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item21 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 53px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item21 :link, #List_Item21 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item21 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item21 :hover, #List_Item21 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item21 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item22 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 52px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item22 :link, #List_Item22 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item22 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item22 :hover, #List_Item22 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item22 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item23 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 52px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item23 :link, #List_Item23 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item23 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item23 :hover, #List_Item23 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item23 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item24 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 94px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item24 :link, #List_Item24 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item24 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item24 :hover, #List_Item24 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item24 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item25 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 33px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item25 :link, #List_Item25 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item25 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item25 :hover, #List_Item25 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item25 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item26 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 90px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item26 :link, #List_Item26 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item26 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item26 :hover, #List_Item26 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item26 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item27 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 77px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item27 :link, #List_Item27 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item27 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item27 :hover, #List_Item27 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item27 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item28 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 63px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item28 :link, #List_Item28 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item28 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item28 :hover, #List_Item28 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item28 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item29 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 63px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item29 :link, #List_Item29 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item29 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item29 :hover, #List_Item29 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item29 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item30 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 33px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item30 :link, #List_Item30 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item30 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item30 :hover, #List_Item30 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item30 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item31 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 89px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item31 :link, #List_Item31 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item31 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item31 :hover, #List_Item31 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item31 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item32 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 80px;
	margin-top: 9px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item32 :link, #List_Item32 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item32 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item32 :hover, #List_Item32 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item32 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item33 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 49px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item33 :link, #List_Item33 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item33 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item33 :hover, #List_Item33 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item33 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item34 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 83px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item34 :link, #List_Item34 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item34 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item34 :hover, #List_Item34 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item34 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
