@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
}
#termsLeftDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 188px;
	padding-top: 0px;
	height: auto;
}
html > body #termsLeftDiv {
	height: auto;
	min-height: 714px;
}
#termsBodyDiv {
	margin-left: 18px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 606px;
	padding-top: 0px;
	height: 713px;
}
html > body #termsBodyDiv {
	height: auto;
	min-height: 714px;
}
#termsBox3SliceContainer {
	margin-left: 5px;
	margin-top: 100px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 600px;
	background-image: url(images/halfTop.png);
	background-repeat: repeat-x;
	background-position: left 25px;
}
#termsBox3SliceContainer_top_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/terms%20of%20usee_r2_c2.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 30px;
	margin-bottom: 0;
	width: 600px;
}
.Txt_Terms {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 300%;
	font-weight: bold;
	text-align: left;
	color: #3374bd;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 212px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Lorem {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 170%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 20px;
	margin-top: 49px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 559px;
}
#termsBox3SliceContainer_bottom_1 {
	margin-left: 0px;
	margin-top: 147px;
	background-image: url(images/halfBottom.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 60px;
	margin-bottom: 0;
	width: 600px;
	background-repeat: repeat-x;
	background-position: left -95px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
}
#bottomContainerDiv {
	margin-left: 5px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 0px none #000;
	width: 600px;
	padding-top: 0px;
	height: 113px;
	background-image: url(images/aboutUsBottom2.png);
	background-repeat: no-repeat;
	background-position: bottom;
}
html > body #bottomContainerDiv {
	height: auto;
	min-height: 112px;
}
#terrmsRightDiv {
	margin-left: 18px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 194px;
	padding-top: 0px;
	height: 713px;
}
html > body #terrmsRightDiv {
	height: auto;
	min-height: 714px;
}
