@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
	margin-top: 1px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#headerPhotoEditsDiv {
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 114px;
}
html > body #headerPhotoEditsDiv {
	height: auto;
	min-height: 115px;
}
#header2PhotoEditsDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 87px;
}
html > body #header2PhotoEditsDiv {
	height: auto;
	min-height: 88px;
}
.My_Quik_Stats_EditsaboutEditPhotoEditsDiv {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 250%;
	font-weight: bold;
	text-align: left;
	color: #115eb3;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 403px;
	margin-top: 28px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#leftPhotoEditsDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 201px;
	padding-top: 0px;
	height: 671px;
}
html > body #leftPhotoEditsDiv {
	height: auto;
	min-height: 672px;
}
#bodyPhotoEditsDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 622px;
	padding-top: 0px;
	height: 671px;
}
html > body #bodyPhotoEditsDiv {
	height: auto;
	min-height: 672px;
}
#PhotoEditsDivBox3SliceContainer {
	margin-left: 9px;
	margin-top: 61px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 602px;
	background-image: url(images/photoEditsMid.png);
	background-repeat: repeat;
}
#PhotoEditsDivBox3SliceContainer_top_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/PhotoEdit.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 62px;
	margin-bottom: 0;
	width: 602px;
	background-repeat: no-repeat;
	background-position: center top;
}
#PhotoEditsDivcolwrap4 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 216px;
}
#mainPhotoPhotoEditsDiv {
	margin-left: 22px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 192px;
	padding-top: 0px;
	height: 193px;
}
html > body #mainPhotoPhotoEditsDiv {
	height: auto;
	min-height: 192px;
	margin-top: 14px;
}
#CheckBox_win_Make_PrimaryPhotoEditsDiv {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 24px;
	margin-top: 7px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#CheckBox_win_Delete1PhotoEditsDiv {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 0px;
	margin-top: 8px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
#PhotoEditsDivcolwrap5 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 276px;
}
.Write_Cool_CaptionPhotoEditsDiv {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 140%;
	font-weight: bold;
	text-align: center;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 74px;
	margin-top: 14px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextField_win_CaptionPhotoEditsDiv {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 18px;
	margin-top: 6px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 258px;
}
#uploadPhotoEditsDiv {
	margin-left: 14px;
	margin-top: 28px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 258px;
	padding-top: 0px;
	height: 117px;
}
html > body #uploadPhotoEditsDiv {
	height: auto;
	min-height: 118px;
}
#uploadButtonPhotoEditsDiv {
	margin-left: 102px;
	margin-top: 8px;
	display: inline;
	float: left;
	margin-bottom: 0px;
	border: 1px solid #000;
	width: 88px;
	padding-top: 0px;
	height: 17px;
}
html > body #uploadButtonPhotoEditsDiv {
	height: auto;
	min-height: 16px;
}
#PhotoEditsDivcolwrap6 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 91px;
}
#btnBrowsePhotoEditsDiv {
	margin-left: 10px;
	margin-top: 88px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 79px;
	padding-top: 0px;
	height: 29px;
}
html > body #btnBrowsePhotoEditsDiv {
	height: auto;
	min-height: 28px;
}
.Select_AllPhotoEditsDiv {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 10px;
	margin-top: 90px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#pic4PhotoEditsDiv {
	margin-right: 23px;
	margin-top: 4px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic4PhotoEditsDiv {
	height: auto;
	min-height: 94px;
}
#pic3PhotoEditsDiv {
	margin-right: 11px;
	margin-top: 4px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic3PhotoEditsDiv {
	height: auto;
	min-height: 94px;
}
#pic2PhotoEditsDiv {
	margin-right: 11px;
	margin-top: 4px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic2PhotoEditsDiv {
	height: auto;
	min-height: 94px;
}
#pic1PhotoEditsDiv {
	margin-right: 11px;
	margin-top: 4px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic1PhotoEditsDiv {
	height: auto;
	min-height: 94px;
}
#CheckBox_win_Delete5PhotoEditsDiv {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 42px;
	margin-top: 7px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
#CheckBox_win_Delete4PhotoEditsDiv {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 55px;
	margin-top: 7px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
#CheckBox_win_Delete3PhotoEditsDiv {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 51px;
	margin-top: 7px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
#CheckBox_win_Delete2PhotoEditsDiv {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 63px;
	margin-top: 7px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
#pic7PhotoEditsDiv {
	margin-right: 129px;
	margin-top: 10px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic7PhotoEditsDiv {
	height: auto;
	min-height: 94px;
}
#pic6PhotoEditsDiv {
	margin-right: 11px;
	margin-top: 10px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic6PhotoEditsDiv {
	height: auto;
	min-height: 94px;
}
#pic5PhotoEditsDiv {
	margin-right: 11px;
	margin-top: 10px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic5PhotoEditsDiv {
	height: auto;
	min-height: 94px;
}
.Full_EditPhotoEditsDiv {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 22px;
	margin-top: 30px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 73px;
}
.Delete_AllPhotoEditsDiv {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 24px;
	margin-top: 30px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#CheckBox_win_Delete8PhotoEditsDiv {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 52px;
	margin-top: 11px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
#CheckBox_win_Delete7PhotoEditsDiv {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 58px;
	margin-top: 11px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
#CheckBox_win_Delete6PhotoEditsDiv {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-right: 53px;
	margin-top: 11px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
#finishButtonPhotoEditsDiv {
	margin-left: 199px;
	margin-top: 5px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 124px;
	padding-top: 4px;
	height: 7px;
}
html > body #finishButtonPhotoEditsDiv {
	height: auto;
	min-height: 8px;
}
#PhotoEditsDivBox3SliceContainer_bottom_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/photoEditsBttm.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 29px;
	margin-bottom: 0;
	width: 602px;
}
#righPhotoEditsDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 201px;
	padding-top: 0px;
	height: 671px;
}
html > body #righPhotoEditsDiv {
	height: auto;
	min-height: 672px;
}
#footerPhotoEditsDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 123px;
}
html > body #footerPhotoEditsDiv {
	height: auto;
	min-height: 124px;
}
