<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    
    <!-- home Dev -->
    <!--
     <add name="PostalData2Entities" connectionString="metadata=res://*/Models.PostalDataModel.csdl|res://*/Models.PostalDataModel.ssdl|res://*/Models.PostalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.200;initial catalog=PostalData2;user id=sa;password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="ApiKeyContext"   providerName="System.Data.SqlClient"  connectionString="Server=NMEDIASQL02;Database=ApiKey;User ID=sa;password=kayode02;"/>

    -->
    <!--Home Prod-->
    <!--
    <add name="PostalData2Entities" connectionString="metadata=res://*/Models.PostalDataModel.csdl|res://*/Models.PostalDataModel.ssdl|res://*/Models.PostalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.112;initial catalog=PostalData2;user id=sa;password=nimda2004tn!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />   
    <add name="ApiKeyContext"   providerName="System.Data.SqlClient"   connectionString="Server=192.168.0.112;Database=ApiKey;User ID=sa;password=nimda2004tn!;"/>

    -->
    
    <add name="PostalData2Entities" connectionString="metadata=res://*/Models.PostalDataModel.csdl|res://*/Models.PostalDataModel.ssdl|res://*/Models.PostalDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.200;initial catalog=PostalData2;user id=sa;password=kayode02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApiKeyContext"   providerName="System.Data.SqlClient"  connectionString="Server=NMEDIASQL02;Database=ApiKey;User ID=sa;password=kayode02;"/>

  </connectionStrings>


  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>


    <services>
      <service name="Shell.MVC2.Services.Dating.GeoService">
        <endpoint address="Soap" binding="basicHttpBinding" contract="Shell.MVC2.Services.Contracts.IGeoService" name="soap" />
        <endpoint address="Rest" binding="webHttpBinding" behaviorConfiguration="web" contract="Shell.MVC2.Services.Contracts.IGeoService" name="rest" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true" helpEnabled="true" faultExceptionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <remove value="AccountService.asmx" />
                <add value="GeoService.svc" />
            </files>
        </defaultDocument>
  </system.webServer>
  
</configuration>
