<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!-- work-->
    <!--
    <add name="NotificationContext"         providerName="System.Data.SqlClient"       connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=Notification;User ID=sa;password=kayode02;"/>
    <add name="ApiKeyContext"   providerName="System.Data.SqlClient"       connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=ApiKey;User ID=sa;password=kayode02;"/>
    <add name="ErrorlogContext" providerName="System.Data.SqlClient" connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=Log;User ID=sa;password=kayode02;" />
    <add name="UserRepairLogContext" providerName="System.Data.SqlClient" connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=AnewLuvUpdatesLog;User ID=sa;password=kayode02;" />
   
    
    -->
    <!-- home Dev -->
    <!--
    <add name="NotificationContext"   providerName="System.Data.SqlClient"       connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=Notification;User ID=sa;password=kayode02;"/>
    <add name="NotificationContext" providerName="System.Data.SqlClient" connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=Notification;User ID=sa;password=kayode02;" />
     <add name="ApiKeyContext"   providerName="System.Data.SqlClient"       connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=ApiKey;User ID=sa;password=kayode02;"/>
     <add name="UserRepairLogContext" providerName="System.Data.SqlClient" connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=AnewLuvUpdatesLog;User ID=sa;password=kayode02;" />
 
   -->
    <!--Home Prod-->
    <!--
    <add name="NotificationContext"   providerName="System.Data.SqlClient"       connectionString="Server=NMEDIASQL01;Database=Notification;User ID=sa;password=nimda2004tn!;"/>
    -->
    <!--home prod-->
    <!--<add name="ErrorlogContext"         providerName="System.Data.SqlClient"       connectionString="Server=NMEDIASQL01;Database=Log;User ID=sa;password=nimda2004tn!;"/>
    <add name="UserRepairLogContext"         providerName="System.Data.SqlClient"       connectionString="Server=NMEDIASQL01;Database=AnewLuvUpdatesLog;User ID=sa;password=nimda2004tn!;"/>-->
    <!--Active-->
    <add name="NotificationContext" providerName="System.Data.SqlClient" connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=Notification;User ID=sa;password=kayode02;" />
    <add name="ApiKeyContext" providerName="System.Data.SqlClient" connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=ApiKey;User ID=sa;password=kayode02;" />
    <add name="ErrorlogContext" providerName="System.Data.SqlClient" connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=Log;User ID=sa;password=kayode02;" />
    <add name="UserRepairLogContext" providerName="System.Data.SqlClient" connectionString="Server=OLA-PC\NMEDIASQLTMP;Database=AnewLuvUpdatesLog;User ID=sa;password=kayode02;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>