@model Shell.MVC2.Models.EmailModel

@{
    ViewBag.Title = "RegistrationEmail.html";
    Layout = "~/Views/ActionMail/Shared/_LayoutHtmlEmail.cshtml";
}


<table  align="center"width="550" border="0" cellspacing="0" cellpadding="10">
 
<tr>
    <td colspan="2" style="border-left-color: #6bb5ff; border-bottom-color: #6bb5ff; border-right-color: #6bb5ff; border-top-color: #6bb5ff; border-left-style: solid; border-bottom-style: none; border-right-style: solid; border-top-style: solid; border-left-width: 1px; border-bottom-width: 0px; border-right-width: 1px; border-top-width: 1px;font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 85%;
	font-weight: bold;
	text-align: left;
	color: #0c52b2;
    background-color: #fffff;" >
				<p class="lastNode">@Html.Encode("Dear anewluv.com member, ") @Model.ScreenName 
			</p></td>
  
  </tr>
  <tr class="height=0px;"><td colspan="2" style="border-left-color: #6bb5ff; border-bottom-color: #6bb5ff; border-right-color: #6bb5ff; border-top-color: #6bb5ff; border-left-style: solid; border-bottom-style: none; border-right-style: solid; border-top-style: none; border-left-width: 1px; border-bottom-width: 0px; border-right-width: 1px; border-top-width: 0px;" >
  
   <table class="innerRow" align="center"width="525" border="0" cellspacing="0" cellpadding="0" >
  <tr bordercolor="#f3f8ff">
    <td style="border: 1px solid #000000;">&nbsp;<p></p> </td>
  </tr>
</table>
</td>
</tr>
<tr>
    <td colspan="2" style="border-left-color: #6bb5ff; border-bottom-color: #6bb5ff; border-right-color: #6bb5ff; border-top-color: #6bb5ff; border-left-style: solid; border-bottom-style: solid; border-right-style: solid; border-top-style: none; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px; border-top-width: 0px; font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: bold;
	text-align: left;
	color: #0c52b2;
	line-height: 120%;
    background-color: #fffff;">
    <p class="lastNode">
    @Model.MessageBody 
    </p></td>
   
  </tr>

  </table>