@model dynamic





@{
    ViewBag.Title = "Underconstruction"; 
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }





<div id="main">
	<div id="undrConstrucHeaderDiv">
		<div id="undrConstrucHeaderDiv2">
		</div>
		<div class="clearFloat"></div>
		<div id="undrConstrucPostBoardDiv">
           <!-- Added to toggle adds 1-27-2012 --> 
     @Html.Partial("AddSense/TopBottomBanner") 
		</div>
		<div class="clearFloat"></div>
		<div id="undrConstrucPicBoxDiv">
			<div id="photoBoxStrip">
				<div id="pic9">
				</div>
				<div id="pic8">
				</div>
				<div id="pic7">
				</div>
				<div id="pic6">
				</div>
				<div id="pic5">
				</div>
				<div id="pic4">
				</div>
				<div id="pic3">
				</div>
				<div id="pic2">
				</div>
				<div id="pic1">
				</div>
				<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
		</div>
		<div class="clearFloat"></div>
	</div>
	<div class="clearFloat"></div>
	<div id="undrConstrucLeftDiv">
           <!-- Added to toggle adds 1-27-2012 -->
    @Html.Partial("AddSense/LeftRightScraper") 
	</div>
	<div id="undrConstrucBodyDiv">
		<img src="../Content/Images/undrConstrucshieldSign.png" id="undrConstrucshieldSign" alt="" />
				<div class="clearFloat"></div>
		<img src="../Content/Images/comingSoon.png" id="comingSoon" alt="" />
				<div class="clearFloat"></div>
	</div>
	<div id="undrConstrucRightDiv">
           <!-- Added to toggle adds 1-27-2012 -->
    @Html.Partial("AddSense/LeftRightScraper") 
	</div>
	<div class="clearFloat"></div>
	<div id="undrConstruFooterDiv">    
    <!-- Added to toggle adds 1-27-2012 --> 
     @Html.Partial("AddSense/TopBottomBanner") 
	</div>
	<div class="clearFloat"></div>
</div>
</body>



