@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#headerMyQSElifestyleDiv {
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 114px;
}
html > body #headerMyQSElifestyleDiv {
	height: auto;
	min-height: 115px;
}
#header2MyQSElifestyleDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 87px;
}
html > body #header2MyQSElifestyleDiv {
	height: auto;
	min-height: 88px;
}
.My_Quik_Stats_EditsMyQSElifestyle {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 250%;
	font-weight: bold;
	text-align: left;
	color: #115eb3;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 396px;
	margin-top: 28px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#leftMyQSElifestyleDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 201px;
	padding-top: 0px;
	height: 671px;
}
html > body #leftMyQSElifestyleDiv {
	height: auto;
	min-height: 672px;
}
#BodyMyQSElifestyleDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 622px;
	height: 672px;
	padding: 0px;
}
html > body #BodyMyQSElifestyleDiv {
	height: auto;
	min-height: 672px;
}
#lifestyleBox3SliceContainer {
	margin-left: 9px;
	margin-top: 65px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 602px;
	background-image: url(images/MyQSElifestyleMid.png);
	background-repeat: repeat;
}
#lifestyleBox3SliceContainer_top_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/MyQSElifestyleTop2.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 62px;
	margin-bottom: 0;
	width: 602px;
}
.MeMyQSElifestyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 267px;
	margin-top: 19px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#hasKidsMeComboBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 39px;
	margin-top: 16px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 130px;
}
#smokeMeComboBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 49px;
	margin-top: 16px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 130px;
}
#maritalStatusMeComboBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 48px;
	margin-top: 16px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 130px;
}
.YouMyQSElifestyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 263px;
	margin-top: 23px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Has_KidsMyQSElifestyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 76px;
	margin-top: 16px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.SmokeMyQSElifestyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 147px;
	margin-top: 16px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#topHksMyQSElifestyleDiv {
	margin-left: 11px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 585px;
	padding-top: 0px;
	height: 28px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}
html > body #topHksMyQSElifestyleDiv {
	height: auto;
	min-height: 29px;
}
#noCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 6px;
	margin-top: 9px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#oftenSCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-right: 91px;
	margin-top: 9px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
#neverSCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-right: 71px;
	margin-top: 9px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
#yesButHCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-top: 9px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	margin-left: 87px;
}
#midHksMyQSElifestyleDiv {
	margin-left: 11px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: nonr#000;
	width: 585px;
	padding-top: 0px;
	height: 28px;
}
html > body #midHksMyQSElifestyleDiv {
	height: auto;
	min-height: 29px;
}
#yesFHCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 6px;
	margin-top: 13px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#yesPhCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 22px;
	margin-top: 13px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#yesTryiSCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-right: 20px;
	margin-top: 13px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
#occasSCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-right: 30px;
	margin-top: 13px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
#botHksMyQSElifestyleDiv {
	margin-left: 11px;
	margin-top: -1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: none #000;
	width: 585px;
	padding-top: 0px;
	height: 44px;
}
html > body #botHksMyQSElifestyleDiv {
	height: auto;
	min-height: 45px;
}
#anyHCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 75px;
	margin-top: 29px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#anySCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-right: 151px;
	margin-top: 29px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
.Marital_StatusMyQSElifestyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 238px;
	margin-top: 27px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#topMsMyQSElifestyleDiv {
	margin-left: 104px;
	margin-top: 26px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: none #000;
	width: 336px;
	padding-top: 0px;
	height: 29px;
}
html > body #topMsMyQSElifestyleDiv {
	height: auto;
	min-height: 30px;
}
#singleMsCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 23px;
	margin-top: 10px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#divorcedMsCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-right: 18px;
	margin-top: 4px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
#botMsMyQSElifestyleDiv {
	margin-left: 104px;
	margin-top: -2px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: none #000;
	width: 336px;
	padding-top: 0px;
	height: 39px;
}
html > body #botMsMyQSElifestyleDiv {
	height: auto;
	min-height: 40px;
}
#seperatedmsCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 23px;
	margin-top: 20px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
#widowedMsCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-right: 16px;
	margin-top: 20px;
	display: inline;
	float: right;
	height: auto;
	margin-bottom: 0;
}
.backMyQSElifestyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 48px;
	margin-top: 37px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#anyMsCheckBox_win_MyQSElifestyle {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
	margin-left: 280px;
	margin-top: 10px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
}
.nextMyQSElifestyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 50px;
	margin-top: 37px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#buttonMyQSElifestyleDiv {
	margin-left: 160px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 122px;
	padding-top: 0px;
	height: 41px;
}
html > body #buttonMyQSElifestyleDiv {
	height: auto;
	min-height: 40px;
}
#lifestyleBox3SliceContainer_bottom_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/MyQSElifestyleBottom.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 62px;
	margin-bottom: 0;
	width: 602px;
}
#rightMyQSElifestyleDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 201px;
	padding-top: 0px;
	height: 671px;
}
html > body #rightMyQSElifestyleDiv {
	height: auto;
	min-height: 672px;
}
#footerMyQSElifestyleDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 123px;
}
html > body #footerMyQSElifestyleDiv {
	height: auto;
	min-height: 124px;
}
