@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#contactUsHeaderDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 112px;
}
html > body #contactUsHeaderDiv {
	height: auto;
	min-height: 113px;
}
#contactUsLeftDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 188px;
	padding-top: 0px;
	height: 713px;
}
html > body #contactUsLeftDiv {
	height: auto;
	min-height: 714px;
}
#contactUsBodyDiv {
	margin-left: 18px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 606px;
	padding-top: 0px;
	height: 713px;
}
html > body #contactUsBodyDiv {
	height: auto;
	min-height: 714px;
}
#contactUsBox3SliceContainer {
	margin-left: 5px;
	margin-top: 100px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 600px;
	background-image: url(images/halfTop.png);
	background-repeat: repeat-x;
	background-position: left 25px;
}
#contactUsBox3SliceContainer_top_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(images/topcontactUs.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 30px;
	margin-bottom: 0;
	width: 600px;
}
.Contact_UscontactUsDiv {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 300%;
	font-weight: bold;
	text-align: left;
	color: #3373bd;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 220px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Lorem_ipsum_dolor_sicontactUs {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 170%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 20px;
	margin-top: 24px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 559px;
}
.EmailcontactUs {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 160%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 72px;
	margin-top: 14px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextField_win_EmailcontactUs {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 15px;
	margin-top: 16px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 300px;
}
.NamecontactUs {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 160%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 72px;
	margin-top: 14px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextField_win_NamecontactUs {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 15px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 300px;
}
.SubjectcontactUs {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 160%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 57px;
	margin-top: 14px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextField_win_SubjectcontactUs {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 15px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: auto;
	margin-bottom: 0;
	width: 300px;
}
.CommentscontactUs {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 160%;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 37px;
	margin-top: 61px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#TextArea_win_CommentscontactUs {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-style: normal;
	font-weight: normal;
	margin-left: 15px;
	margin-top: 18px;
	display: inline;
	float: left;
	height: 123px;
	margin-bottom: 0;
	width: 347px;
}
#contactUsResetDiv {
	margin-left: 46px;
	margin-top: 13px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 80px;
	padding-top: 0px;
	height: 20px;
	border: none;
}
html > body #contactUsResetDiv {
	height: auto;
}
#contactUsSendDiv {
	margin-left: 6px;
	margin-top: 13px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 76px;
	padding-top: 0px;
	height: 17px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
html > body #contactUsSendDiv {
	height: auto;
	min-height: 20px;
}
#contactUsBox3SliceContainer_bottom_1 {
	margin-left: 0px;
	margin-top: 4px;
	background-image: url(images/aboutUsBottom2.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 200px;
	margin-bottom: 0;
	width: 600px;
	background-position: right bottom;
}
#contactUsBottomContainerDiv {
	margin-left: 5px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 598px;
	padding-top: 0px;
	height: 113px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
html > body #contactUsBottomContainerDiv {
	height: auto;
	min-height: 2px;
}
#contactUsRightDiv {
	margin-left: 18px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 194px;
	padding-top: 0px;
	height: 713px;
}
html > body #contactUsRightDiv {
	height: auto;
	min-height: 714px;
}
#contactUsFooterDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1022px;
	padding-top: 0px;
	height: 101px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
html > body #contactUsFooterDiv {
	height: auto;
	min-height: 100px;
}
