@charset "utf-8";

body {
	background-color: #f5f6f7;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#main {
	margin: 0 auto;
	width: 1024px;
}
#headerDiv {
	margin-left: 0px;
	margin-top: 4px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 334px;
	background-repeat: no-repeat;
	background-position: center;
}
html > body #headerDiv {
	height: auto;
	min-height: 335px;
}
#headerDiv2 {
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1023px;
	padding-top: 0px;
	height: 107px;
	background-image: url(images/headerPngClear.png);
	background-repeat: no-repeat;
	background-position: center;
}
html > body #headerDiv2 {
	height: auto;
	min-height: 108px;
}
#Link:link, #Link:visited {
	margin-right: 14px;
	margin-top: 57px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link:hover, #Link:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link2:link, #Link2:visited {
	margin-right: 9px;
	margin-top: 57px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link2:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link2:hover, #Link2:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link2:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link3:link, #Link3:visited {
	margin-right: 9px;
	margin-top: 57px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link3:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link3:hover, #Link3:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link3:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link4:link, #Link4:visited {
	margin-right: 9px;
	margin-top: 57px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link4:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link4:hover, #Link4:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link4:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
.Txt_Hi {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 15px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#Link5:link, #Link5:visited {
	margin-right: 15px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link5:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link5:hover, #Link5:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link5:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link6:link, #Link6:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link6:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link6:hover, #Link6:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link6:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link7:link, #Link7:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link7:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link7:hover, #Link7:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link7:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link8:link, #Link8:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link8:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link8:hover, #Link8:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link8:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link9:link, #Link9:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link9:visited {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#Link9:hover, #Link9:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link9:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link10:link, #Link10:visited {
	margin-right: 9px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link10:visited {
	color: #551a8b;
	font-weight: bold;
	text-decoration: none;
}
#Link10:hover, #Link10:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link10:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#Link11:link, #Link11:visited {
	margin-right: 17px;
	margin-top: 17px;
	display: inline;
	float: right;
	margin-bottom: 0;
	color: #4c8acb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-decoration: none;
}
#Link11:visited {
	color: #551a8b;
	font-weight: bold;
	text-decoration: none;
}
#Link11:hover, #Link11:focus {
	color: #fb6767;
	font-weight: bold;
	text-decoration: none;
}
#Link11:active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#postBoardDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 85px;
}
html > body #postBoardDiv {
	height: auto;
	min-height: 86px;
}
#picBoxDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 0pxnone #000;
	width: 1022px;
	padding-top: 0px;
	height: 139px;
}
html > body #picBoxDiv {
	height: auto;
	min-height: 138px;
}
#photoBoxStrip {
	margin-left: 10px;
	margin-top: 16px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
	width: 998px;
	padding-top: 0px;
	height: 113px;
}
html > body #photoBoxStrip {
	height: auto;
	min-height: 112px;
}
#pic9 {
	margin-right: 28px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic9 {
	height: auto;
	min-height: 94px;
}
#pic8 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic8 {
	height: auto;
	min-height: 94px;
}
#pic7 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic7 {
	height: auto;
	min-height: 94px;
}
#pic6 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic6 {
	height: auto;
	min-height: 94px;
}
#pic5 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic5 {
	height: auto;
	min-height: 94px;
}
#pic4 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic4 {
	height: auto;
	min-height: 94px;
}
#pic3 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic3 {
	height: auto;
	min-height: 94px;
}
#pic2 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic2 {
	height: auto;
	min-height: 94px;
}
#pic1 {
	margin-right: 11px;
	margin-top: 7px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 94px;
	padding-top: 0px;
	height: 95px;
}
html > body #pic1 {
	height: auto;
	min-height: 94px;
}
#bodyDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 782px;
	padding-top: 0px;
	height: 3158px;
}
html > body #bodyDiv {
	height: auto;
	min-height: 3159px;
}
.Txt_Interests {
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 310%;
	font-weight: bold;
	text-align: left;
	color: #115eb2;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 302px;
	margin-top: 24px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #4c8acb;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 18px;
	margin-top: 22px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#deleteDiv {
	margin-right: 29px;
	margin-top: 20px;
	display: inline;
	float: right;
	margin-bottom: 0;
	border: 1px none #000;
	width: 93px;
	padding-top: 0px;
	height: 15px;
}
html > body #deleteDiv {
	height: auto;
	min-height: 21px;
}
#greybarDiv {
	margin-left: 18px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 743px;
	padding-top: 0px;
	height: 37px;
	background-image: url(images/greyBar.png);
	background-repeat: no-repeat;
	background-position: center;
}
html > body #greybarDiv {
	height: auto;
	min-height: 36px;
}
#CheckboxDivinterests1 {
	margin-left: 5px;
	margin-top: 8px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1pxnone #000;
	width: 23px;
	padding-top: 0px;
	height: 24px;
}
html > body #CheckboxDivinterests1 {
	height: auto;
	min-height: 23px;
}
#quikDetailsDiv {
	margin-left: 0px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 779px;
	padding-top: 0px;
	height: 299px;
	background-image: url(images/detailViewProfileBox.png);
	background-repeat: no-repeat;
	background-position: center top;
}
html > body #quikDetailsDiv {
	height: auto;
	min-height: 298px;
}
#colwrap4 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 227px;
}
#Div {
	margin-left: 9px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 0pxnone #000;
	width: 216px;
	padding-top: 0px;
	height: 297px;
}
html > body #Div {
	height: auto;
	min-height: 296px;
}
#CheckboxDivinterests2 {
	margin-left: 14px;
	margin-top: 31px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px none #000;
	width: 23px;
	padding-top: 0px;
	height: 24px;
}
html > body #CheckboxDivinterests2 {
	height: auto;
	min-height: 23px;
}
#colwrap7 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 151px;
}
.Txt_Name {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 25px;
	margin-top: 20px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#detailsProfileBoxDiv {
	margin-left: 20px;
	margin-top: 3px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1px solid #000;
	width: 148px;
	padding-top: 0px;
	height: 149px;
}
html > body #detailsProfileBoxDiv {
	height: auto;
	min-height: 148px;
}
.Txt_Age {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 105px;
	margin-top: 1px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Location {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 80px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_age {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 55px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 35px;
	margin-top: 2px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 191px;
}
#profileNavDiv {
	margin-left: 3px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 0pxnone #000;
	width: 128px;
	padding-top: 0px;
	height: 297px;
}
html > body #profileNavDiv {
	height: auto;
	min-height: 296px;
}
#colwrap6 {
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 392px;
}
.Txt_My {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: left;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 104px;
	margin-top: 27px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Lorem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-align: center;
	color: #333;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 23px;
	margin-top: 15px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 327px;
}
.Txt_View {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	color: #000;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 250px;
	margin-top: 27px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Previous {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #5590cd;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-left: 64px;
	margin-top: 2648px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
.Txt_Next {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	text-align: left;
	color: #6898ff;
	line-height: 120%;
	padding-bottom: 2px;
	padding-top: 1px;
	margin-right: 21px;
	margin-top: 2648px;
	display: inline;
	float: right;
	margin-bottom: 0;
}
#rightDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	border: 1pxnone #000;
	width: 240px;
	padding-top: 0px;
	height: 3158px;
}
html > body #rightDiv {
	height: auto;
	min-height: 3157px;
}
#footerDiv {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 1024px;
	padding-top: 0px;
	height: 121px;
}
html > body #footerDiv {
	height: auto;
	min-height: 122px;
}
#List_Item {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 36px;
	margin-top: 31px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item :link, #List_Item :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item :hover, #List_Item :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item2 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 53px;
	margin-top: 31px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item2 :link, #List_Item2 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item2 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item2 :hover, #List_Item2 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item2 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item3 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 50px;
	margin-top: 31px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item3 :link, #List_Item3 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item3 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item3 :hover, #List_Item3 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item3 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item4 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 54px;
	margin-top: 31px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item4 :link, #List_Item4 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item4 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item4 :hover, #List_Item4 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item4 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item5 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 94px;
	margin-top: 31px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item5 :link, #List_Item5 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item5 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item5 :hover, #List_Item5 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item5 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item6 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 36px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item6 :link, #List_Item6 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item6 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item6 :hover, #List_Item6 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item6 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item7 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 90px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item7 :link, #List_Item7 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item7 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item7 :hover, #List_Item7 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item7 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item8 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 77px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item8 :link, #List_Item8 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item8 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item8 :hover, #List_Item8 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item8 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item9 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 63px;
	margin-top: 11px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item9 :link, #List_Item9 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item9 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item9 :hover, #List_Item9 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item9 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item10 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 63px;
	margin-top: 12px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item10 :link, #List_Item10 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item10 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item10 :hover, #List_Item10 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item10 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item11 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 36px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item11 :link, #List_Item11 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item11 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item11 :hover, #List_Item11 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item11 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item12 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 89px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item12 :link, #List_Item12 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item12 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item12 :hover, #List_Item12 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item12 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item13 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 80px;
	margin-top: 9px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item13 :link, #List_Item13 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item13 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item13 :hover, #List_Item13 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item13 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item14 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 49px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item14 :link, #List_Item14 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item14 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item14 :hover, #List_Item14 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item14 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item15 {
	color: #000;
	font-weight: bold;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 100%;
	margin-left: 83px;
	margin-top: 10px;
	display: inline;
	float: left;
	margin-bottom: 0;
}
#List_Item15 :link, #List_Item15 :visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
#List_Item15 :visited {
	color: #551a8b;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item15 :hover, #List_Item15 :focus {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
#List_Item15 :active {
	color: #00e;
	font-weight: normal;
	text-decoration: underline;
}
