<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>A new luv now main page</title>
	<link rel="stylesheet" type="text/css" href="./Log In.css" media="all" />
	<!--[if IE]>
	<style type="text/css" media="all">.borderitem {border-style: solid;}</style>
	<![endif]-->
</head>

<body>
<form action="#" method="get">

<div id="main">
	<div id="headerLogInDiv">
	</div>
	<div class="clearFloat"></div>
	<div id="headerLogIn2Div">
	</div>
	<div class="clearFloat"></div>
	<div id="leftLogInDiv">
      <script type="text/javascript"><!--
          google_ad_client = "ca-pub-9814096529112578";
          /* 160x600image add */
          google_ad_slot = "0602151849";
          google_ad_width = 160;
          google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</div>
	<div id="bodyLogInDiv">
		<div id="Box3SliceContainer">
			<div id="Box3SliceContainer_top_1">
			</div>
			<div class="Go_ahead_Log_in_and_LogIn">
				
				  	<p class="lastNode">
                     <%: ViewData["LoginStatus"] %> 
                </p> 
				
			</div>
			<div class="clearFloat"></div>
           <%: Html.ValidationSummary(true) %>
           
           <% if(Model.LostAccountInfoModel.LostPassword == false  ){ %>    
           <%Html.RenderPartial("LogOnDetail", Model); %>
           <% } %>  
        

           <% if(Model.LostAccountInfoModel.LostPassword == true  ){ %>      
           <% Html.RenderPartial("lostAccountInfo", Model); %> 
           <% } %>     
         
         <div class="clearFloat"></div>
         <div class="BottomLinks">
            <%: Html.ActionLink("Click Here if you do not know your UserName or Password","LogOn",new {LostPassword = true})%>
            <br />
            <%: Html.ActionLink("Register on Home Page if you do not have an account", "Register") %>
           </div>
		
		 <div class="clearFloat"></div>
		<div id="Box3SliceContainer_bottom_1">
		</div>
		</div>
		<div class="clearFloat"></div>
	</div>
	<div id="rightLogInDiv">
        <script type="text/javascript"><!--
            google_ad_client = "ca-pub-9814096529112578";
            /* 160x600image add */
            google_ad_slot = "0602151849";
            google_ad_width = 160;
            google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</div>
	<div class="clearFloat"></div>
	<div id="footerLogInDiv">
	</div>
	<div class="clearFloat"></div>
</div>

</form>
</body>
</html>
